In [461]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [462]:
deliveries_df = pd.read_csv('deliveries.csv')

In [463]:
deliveries_df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [464]:
deliveries_df.isna().sum()

# this is fine, we aren't using those columns

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs               0
extras_type         246795
is_wicket                0
player_dismissed    247970
dismissal_kind      247970
fielder             251566
dtype: int64

## Drop batsmen who have not played much

In [465]:
batter_freq = deliveries_df.batter.value_counts().reset_index()
batter_freq

             batter  count
0           V Kohli   6236
1          S Dhawan   5483
2         RG Sharma   5183
3         DA Warner   4849
4          SK Raina   4177
..              ...    ...
668  V Pratap Singh      1
669     Sunny Gupta      1
670      YA Abdulla      1
671       SZ Mulani      1
672       S Kaushik      1

[673 rows x 2 columns]

In [466]:
batsmen_to_drop = batter_freq[batter_freq['count'] < 18]
# they have batted against less than 18 balls in their whole career

In [467]:
batsmen_to_drop

                   batter  count
505       JJ van der Wath     17
506  X Thalaivan Sargunam     17
507              VG Arora     17
508       SMSM Senanayake     17
509       Karanveer Singh     17
..                    ...    ...
668        V Pratap Singh      1
669           Sunny Gupta      1
670            YA Abdulla      1
671             SZ Mulani      1
672             S Kaushik      1

[168 rows x 2 columns]

In [468]:
list_of_batsmen_to_drop = batsmen_to_drop.batter.to_list()
list_of_batsmen_to_drop

['JJ van der Wath',
 'X Thalaivan Sargunam',
 'VG Arora',
 'SMSM Senanayake',
 'Karanveer Singh',
 'R Bishnoi',
 'AU Rashid',
 'Saurav Chauhan',
 'Yudhvir Singh',
 'T Henderson',
 'Kartik Tyagi',
 'Umran Malik',
 'SB Joshi',
 'GR Napier',
 'TU Deshpande',
 'Mujeeb Ur Rahman',
 'CJ McKay',
 'JE Root',
 'UA Birla',
 'Gulbadin Naib',
 'ER Dwivedi',
 'TS Mills',
 'RA Bawa',
 'BB Sran',
 'SM Harwood',
 'P Awana',
 'AG Murtaza',
 'B Laughlin',
 'D du Preez',
 'MDKJ Perera',
 'Fazalhaq Farooqi',
 'Vijaykumar Vyshak',
 'F Behardien',
 'P Sahu',
 'DP Nannes',
 'SD Lad',
 'K Kartikeya',
 'J Theron',
 'DT Patil',
 'ND Doshi',
 'JL Pattinson',
 'Pankaj Singh',
 'AR Bawne',
 'DG Nalkande',
 'Harmeet Singh',
 'AA Noffke',
 'Akash Deep',
 'Mohammad Ashraful',
 'PSP Handscomb',
 'TM Srivastava',
 'BJ Haddin',
 'Jaskaran Singh',
 'AA Chavan',
 'I Udana',
 'D Ferreira',
 'AJ Hosein',
 'A Singh',
 'S Ladda',
 'MA Wood',
 'CK Langeveldt',
 'KAJ Roach',
 'DAJ Bracewell',
 'JP Behrendorff',
 'Ankit Soni',
 'K Upadhyay',
 'DNT Zoysa',
 'Arjun Tendulkar',
 'Simarjeet Singh',
 'A Tomar',
 'Shoaib Akhtar',
 'D Kalyankrishna',
 'AA Kulkarni',
 'AN Ghosh',
 'RS Gavaskar',
 'KJ Abbott',
 'Younis Khan',
 'SS Shaikh',
 'A Chandila',
 'Kumar Kushagra',
 'VS Malik',
 'M Theekshana',
 'SH Johnson',
 'A Uniyal',
 'GC Viljoen',
 'KK Ahmed',
 'BA Bhatt',
 'Mukesh Choudhary',
 'R Sai Kishore',
 'BAW Mendis',
 'P Chopra',
 'R Ninan',
 'JPR Scantlebury-Searles',
 'RJW Topley',
 'Mohammad Asif',
 'Shoaib Ahmed',
 'Akash Madhwal',
 'BR Sharath',
 'OC McCoy',
 'FH Edwards',
 'V Viyaskanth',
 'T Natarajan',
 'DM Bravo',
 'A Dananjaya',
 'Kamran Khan',
 'HF Gurney',
 'H Das',
 'SJ Srivastava',
 'GD McGrath',
 'K Yadav',
 'I Malhotra',
 'Arshad Khan (2)',
 'S Randiv',
 'KP Appanna',
 'JE Taylor',
 'Liton Das',
 'GHS Garton',
 'T Shamsi',
 'S Tyagi',
 'RP Meredith',
 'VRV Singh',
 'Harshit Rana',
 'DJ Muthuswami',
 'SB Wagh',
 'Shivam Sharma',
 'KMDN Kulasekara',
 'Shivam Singh',
 'LE Plunkett',
 'KR Sen',
 'BE Hendricks',
 'CRD Fernando',
 'P Parameswaran',
 'L Wood',
 'KA Maharaj',
 'LB Williams',
 'RR Bhatkal',
 'MJ Suthar',
 'RJ Gleeson',
 'RS Sodhi',
 'L Ablish',
 'IC Pandey',
 'A Kamboj',
 'R Sanjay Yadav',
 'M de Lange',
 'RG More',
 'SE Bond',
 'PM Sarvesh Kumar',
 'SS Cottrell',
 'Mashrafe Mortaza',
 'Mohit Rathee',
 'B Stanlake',
 'KM Asif',
 'Abdur Razzak',
 'VS Yeligati',
 'Y Prithvi Raj',
 'Yash Dayal',
 'U Kaul',
 'DP Vijaykumar',
 'S Lamichhane',
 'Abdul Basith',
 'JL Denly',
 'Mayank Dagar',
 'C Nanda',
 'NJ Rimmington',
 'V Pratap Singh',
 'Sunny Gupta',
 'YA Abdulla',
 'SZ Mulani',
 'S Kaushik']

In [469]:
deliveries_df = deliveries_df[~deliveries_df['batter'].isin(list_of_batsmen_to_drop)]

In [470]:
deliveries_df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

## Drop bowlers who have not played much

In [471]:
bowler_freq = deliveries_df.bowler.value_counts().reset_index()

In [472]:
list_of_bowlers_to_drop = bowler_freq[bowler_freq['count'] < 18].bowler.to_list()
list_of_bowlers_to_drop

['CJ Green',
 'CK Kapugedera',
 'Monu Kumar',
 'S Rana',
 'R Sanjay Yadav',
 'Abdur Razzak',
 'LRPL Taylor',
 'AA Kazi',
 'Arshad Khan (2)',
 'S Vidyut',
 'S Midhun',
 'MJ Suthar',
 'FY Fazal',
 'M Shahrukh Khan',
 'Mandeep Singh',
 'JE Root',
 'RR Bhatkal',
 'Mohit Rathee',
 'N Wadhera',
 'R Ravindra',
 'RR Bose',
 'C Munro',
 'Sachin Baby',
 'NA Saini',
 'LA Carseldine',
 'BJ Rohrer',
 'SS Mundhe',
 'Gulbadin Naib',
 'LPC Silva',
 'SS Iyer',
 'Aman Hakim Khan',
 'AM Rahane',
 'RA Shaikh',
 'RS Gavaskar',
 'C Ganapathy',
 'I Malhotra',
 'B Chipli',
 'P Prasanth',
 'Y Gnaneswara Rao',
 'F du Plessis',
 'SA Yadav',
 'RA Tripathi',
 'D Brevis',
 'SPD Smith',
 'SN Khan',
 'DA Warner',
 'AC Gilchrist',
 'YBK Jaiswal',
 'Atharva Taide']

In [473]:
deliveries_df = deliveries_df[~deliveries_df['bowler'].isin(list_of_bowlers_to_drop)]
deliveries_df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

## Career Bowling average

In [474]:
bowling = deliveries_df.groupby(by=['bowler']).agg({'total_runs':'sum', 'is_wicket':'sum'}).reset_index()

In [475]:
# First, let's create a mask for valid dismissals (wickets that count for bowling average).
# I only need to use the dismissals that are valid for calculating bowling average. So, I'll first create a boolean array depicting which dismissals are valid
valid_dismissals = ~deliveries_df['dismissal_kind'].isin(['run out', 'retired hurt', 'retired out', 'obstructing the field'])

# Now calculate the bowling statistics with this condition
bowling = deliveries_df.groupby(by=['bowler']).agg({
    'total_runs': 'sum',
    # Only count wickets where is_wicket=1 AND dismissal_kind is valid. We use '&', not 'and' since we want to perform element wise "AND" operation across the two pandas series (x == 1) and (valid_dismissals[x.index])
    'is_wicket': lambda x: ((x == 1) & (valid_dismissals[x.index])).sum()
}).reset_index()
bowling

             bowler  total_runs  is_wicket
0    A Ashish Reddy         399         18
1          A Badoni          37          2
2        A Chandila         245         11
3       A Choudhary         144          5
4       A Dananjaya          47          0
..              ...         ...        ...
476      Yash Dayal         932         28
477     Yash Thakur         700         24
478   Yudhvir Singh         125          4
479    Yuvraj Singh        1091         36
480          Z Khan        2843        100

[481 rows x 3 columns]

In [476]:
bowling['career_bowling_average'] = bowling['total_runs']/bowling['is_wicket']

In [477]:
bowling['career_bowling_average']= bowling['career_bowling_average'].replace(np.inf, -np.inf)
bowling['career_bowling_average']= bowling['career_bowling_average'].replace(-np.inf, bowling['career_bowling_average'].max())

In [478]:
bowling

             bowler  total_runs  is_wicket  career_bowling_average
0    A Ashish Reddy         399         18               22.166667
1          A Badoni          37          2               18.500000
2        A Chandila         245         11               22.272727
3       A Choudhary         144          5               28.800000
4       A Dananjaya          47          0              137.000000
..              ...         ...        ...                     ...
476      Yash Dayal         932         28               33.285714
477     Yash Thakur         700         24               29.166667
478   Yudhvir Singh         125          4               31.250000
479    Yuvraj Singh        1091         36               30.305556
480          Z Khan        2843        100               28.430000

[481 rows x 4 columns]

In [479]:
bowling[bowling['career_bowling_average'] == bowling['career_bowling_average'].min()]

       bowler  total_runs  is_wicket  career_bowling_average
434  T Stubbs          29          4                    7.25

In [480]:
bowling['career_bowling_average'].describe()

count    481.000000
mean      44.583180
std       31.742902
min        7.250000
25%       27.500000
50%       33.225806
75%       45.250000
max      137.000000
Name: career_bowling_average, dtype: float64

## Career Batting average

In [481]:
batting = deliveries_df.groupby(by=['batter']).agg({'batsman_runs':'sum', 'is_wicket':'sum'}).reset_index()
batting['career_batting_average'] = batting['batsman_runs']/batting['is_wicket']

In [482]:
batting['career_batting_average'].describe()

/opt/anaconda3/envs/optiProj_env/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

count    505.000000
mean            inf
std             NaN
min        1.600000
25%       11.000000
50%       18.119048
75%       25.400000
max             inf
Name: career_batting_average, dtype: float64

In [483]:
batting['career_batting_average']= batting['career_batting_average'].replace(np.inf, -np.inf)
batting['career_batting_average']= batting['career_batting_average'].replace(-np.inf, batting['career_batting_average'].max())

In [484]:
batting['career_batting_average'].describe()

count    505.000000
mean      19.392765
std       10.968157
min        1.600000
25%       11.000000
50%       18.119048
75%       25.400000
max       88.000000
Name: career_batting_average, dtype: float64

## Performance index for batsmen

In [485]:
df = deliveries_df.groupby(by=['batter', 'bowler']).agg({'batsman_runs':'sum', 'is_wicket':'sum'}).reset_index()

In [486]:
df.dropna(inplace=True)

In [487]:
df

               batter           bowler  batsman_runs  is_wicket
0      A Ashish Reddy          A Nehra             7          1
1      A Ashish Reddy         AB Dinda             9          0
2      A Ashish Reddy       AD Mathews            25          0
3      A Ashish Reddy       AD Russell             4          1
4      A Ashish Reddy    Anureet Singh             2          0
...               ...              ...           ...        ...
27232          Z Khan        SR Watson             3          0
27233          Z Khan  Shakib Al Hasan             3          0
27234          Z Khan    Sohail Tanvir             3          0
27235          Z Khan        VRV Singh             0          0
27236          Z Khan        YK Pathan             1          0

[27237 rows x 4 columns]

In [488]:
df.is_wicket.value_counts()

is_wicket
0    17328
1     7881
2     1471
3      376
4      129
5       29
6       13
7        9
9        1
Name: count, dtype: int64

In [489]:
df['batting_average'] = df['batsman_runs']/df['is_wicket']

In [490]:
df['batting_average']

0        7.0
1        inf
2        inf
3        4.0
4        inf
        ...
27232    inf
27233    inf
27234    inf
27235    NaN
27236    inf
Name: batting_average, Length: 27237, dtype: float64

In [491]:
df.dropna(inplace=True) #Removing null values as a precautionary value

In [492]:
temp_df = df[~np.isinf(df['batting_average'])]

In [493]:
best_per_batsman = temp_df.groupby(by=['batter']).agg({'batting_average':'mean'})

In [494]:
best_per_batsman

                batting_average
batter
A Ashish Reddy         4.500000
A Badoni               8.454545
A Chopra               2.800000
A Choudhary            4.000000
A Flintoff             2.500000
...                         ...
YV Dhull               3.333333
YV Takawale            3.625000
Yashpal Singh          4.500000
Yuvraj Singh          15.036706
Z Khan                 1.769231

[504 rows x 1 columns]

In [495]:
mapping = best_per_batsman['batting_average'].to_dict()

In [496]:
df['batting_average'] = np.where(
    df['batting_average'] == np.inf,
    df['batter'].map(mapping),
    df['batting_average']
)

In [497]:
df.head(5)

           batter         bowler  batsman_runs  is_wicket  batting_average
0  A Ashish Reddy        A Nehra             7          1              7.0
1  A Ashish Reddy       AB Dinda             9          0              4.5
2  A Ashish Reddy     AD Mathews            25          0              4.5
3  A Ashish Reddy     AD Russell             4          1              4.0
4  A Ashish Reddy  Anureet Singh             2          0              4.5

In [498]:
df.dropna(inplace=True)

In [499]:
df

,batter,bowler,batsman_runs,is_wicket,batting_average
0,A Ashish Reddy,A Nehra,7,1,7.000000
1,A Ashish Reddy,AB Dinda,9,0,4.500000
2,A Ashish Reddy,AD Mathews,25,0,4.500000
3,A Ashish Reddy,AD Russell,4,1,4.000000
4,A Ashish Reddy,Anureet Singh,2,0,4.500000
...,...,...,...,...,...
27231,Z Khan,SL Malinga,1,0,1.769231
27232,Z Khan,SR Watson,3,0,1.769231
27233,Z Khan,Shakib Al Hasan,3,0,1.769231
27234,Z Khan,Sohail Tanvir,3,0,1.769231
27236,Z Khan,YK Pathan,1,0,1.769231

In [500]:
mapping = dict(zip(bowling['bowler'], bowling['career_bowling_average']))
df['career_bowling_average'] = df['bowler'].map(mapping)

In [501]:
df.head(5)

,batter,bowler,batsman_runs,is_wicket,batting_average,career_bowling_average
0,A Ashish Reddy,A Nehra,7,1,7.0,23.877358
1,A Ashish Reddy,AB Dinda,9,0,4.5,30.852941
2,A Ashish Reddy,AD Mathews,25,0,4.5,40.481481
3,A Ashish Reddy,AD Russell,4,1,4.0,23.385965
4,A Ashish Reddy,Anureet Singh,2,0,4.5,35.333333

In [502]:
df['performance_index_against_bowler'] = df['batting_average']/df['career_bowling_average']
df

,batter,bowler,batsman_runs,is_wicket,batting_average,career_bowling_average,performance_index_against_bowler
0,A Ashish Reddy,A Nehra,7,1,7.000000,23.877358,0.293165
1,A Ashish Reddy,AB Dinda,9,0,4.500000,30.852941,0.145853
2,A Ashish Reddy,AD Mathews,25,0,4.500000,40.481481,0.111162
3,A Ashish Reddy,AD Russell,4,1,4.000000,23.385965,0.171043
4,A Ashish Reddy,Anureet Singh,2,0,4.500000,35.333333,0.127358
...,...,...,...,...,...,...,...
27231,Z Khan,SL Malinga,1,0,1.769231,21.134146,0.083714
27232,Z Khan,SR Watson,3,0,1.769231,29.967033,0.059039
27233,Z Khan,Shakib Al Hasan,3,0,1.769231,30.064516,0.058848
27234,Z Khan,Sohail Tanvir,3,0,1.769231,12.500000,0.141538
27236,Z Khan,YK Pathan,1,0,1.769231,34.285714,0.051603

In [503]:
avg_pi_batsmen = df.groupby('batter').agg({'performance_index_against_bowler':'mean'}).reset_index()

In [504]:
avg_pi_batsmen['performance_index_against_bowler'].describe()

count    504.000000
mean       0.220765
std        0.187739
min        0.000000
25%        0.084214
50%        0.161721
75%        0.317982
max        0.944751
Name: performance_index_against_bowler, dtype: float64

In [505]:
avg_pi_batsmen[avg_pi_batsmen['batter'] == 'MS Dhoni']

       batter  performance_index_against_bowler
279  MS Dhoni                          0.701506

In [506]:
avg_pi_batsmen[avg_pi_batsmen['performance_index_against_bowler'] == avg_pi_batsmen['performance_index_against_bowler'].max()]

      batter  performance_index_against_bowler
475  V Kohli                          0.944751

In [507]:
avg_pi_batsmen.columns = ['player', 'average_batting_performance_index']

In [508]:
avg_pi_batsmen

             player  average_batting_performance_index
0    A Ashish Reddy                           0.161916
1          A Badoni                           0.283516
2          A Chopra                           0.089891
3       A Choudhary                           0.124782
4        A Flintoff                           0.079263
..              ...                                ...
499        YV Dhull                           0.110913
500     YV Takawale                           0.129781
501   Yashpal Singh                           0.153219
502    Yuvraj Singh                           0.488666
503          Z Khan                           0.063315

[504 rows x 2 columns]

In [509]:
avg_pi_batsmen.to_csv('batsmen_performance_index.csv')

In [510]:
# career bowling average = runs/wickets
# career batting average = runs/dismissed

## Performance Index for Bowlers

In [511]:
#df = deliveries_df.groupby(by=['bowler', 'batter']).agg({'total_runs':'sum', 'is_wicket':'sum'}).reset_index()

# First, let's create a mask for valid dismissals (wickets that count for bowling average).
# I only need to use the dismissals that are valid for calculating bowling average. So, I'll first create a boolean array depicting which dismissals are valid
valid_dismissals = ~deliveries_df['dismissal_kind'].isin(['run out', 'retired hurt', 'retired out', 'obstructing the field'])

# Now calculate the bowling statistics with this condition
df = deliveries_df.groupby(by=['bowler', 'batter']).agg({
    'total_runs': 'sum',
    # Only count wickets where is_wicket=1 AND dismissal_kind is valid. We use '&', not 'and' since we want to perform element wise "AND" operation across the two pandas series (x == 1) and (valid_dismissals[x.index])
    'is_wicket': lambda x: ((x == 1) & (valid_dismissals[x.index])).sum()
}).reset_index()
df

               bowler           batter  total_runs  is_wicket
0      A Ashish Reddy   AB de Villiers          48          0
1      A Ashish Reddy        AC Thomas          10          0
2      A Ashish Reddy       AD Mathews           3          0
3      A Ashish Reddy       AD Russell           1          0
4      A Ashish Reddy       AL Menaria           9          0
...               ...              ...         ...        ...
27232          Z Khan          WA Mota           1          0
27233          Z Khan          WP Saha          39          0
27234          Z Khan  Y Venugopal Rao           9          0
27235          Z Khan        YK Pathan          35          1
27236          Z Khan     Yuvraj Singh          12          2

[27237 rows x 4 columns]

In [512]:
df.dropna(inplace=True)
df

               bowler           batter  total_runs  is_wicket
0      A Ashish Reddy   AB de Villiers          48          0
1      A Ashish Reddy        AC Thomas          10          0
2      A Ashish Reddy       AD Mathews           3          0
3      A Ashish Reddy       AD Russell           1          0
4      A Ashish Reddy       AL Menaria           9          0
...               ...              ...         ...        ...
27232          Z Khan          WA Mota           1          0
27233          Z Khan          WP Saha          39          0
27234          Z Khan  Y Venugopal Rao           9          0
27235          Z Khan        YK Pathan          35          1
27236          Z Khan     Yuvraj Singh          12          2

[27237 rows x 4 columns]

In [513]:
df['bowling_average'] = df['total_runs']/df['is_wicket']
df

               bowler           batter  total_runs  is_wicket  bowling_average
0      A Ashish Reddy   AB de Villiers          48          0              inf
1      A Ashish Reddy        AC Thomas          10          0              inf
2      A Ashish Reddy       AD Mathews           3          0              inf
3      A Ashish Reddy       AD Russell           1          0              inf
4      A Ashish Reddy       AL Menaria           9          0              inf
...               ...              ...         ...        ...              ...
27232          Z Khan          WA Mota           1          0              inf
27233          Z Khan          WP Saha          39          0              inf
27234          Z Khan  Y Venugopal Rao           9          0              inf
27235          Z Khan        YK Pathan          35          1             35.0
27236          Z Khan     Yuvraj Singh          12          2              6.0

[27237 rows x 5 columns]

In [514]:
temp_df = df[~np.isinf(df['bowling_average'])]

In [515]:
best_per_bowler = temp_df.groupby(by=['bowler']).agg({'bowling_average':'mean'}).reset_index()

In [516]:
best_per_bowler

             bowler  bowling_average
0    A Ashish Reddy         6.266667
1          A Badoni         0.000000
2        A Chandila         3.272727
3       A Choudhary         2.400000
4        A Flintoff         1.000000
..              ...              ...
440      Yash Dayal        11.200000
441     Yash Thakur         9.630435
442   Yudhvir Singh         1.750000
443    Yuvraj Singh        11.275862
444          Z Khan        14.766818

[445 rows x 2 columns]

In [517]:
mapping = dict(zip(best_per_bowler['bowler'], best_per_bowler['bowling_average']))

In [518]:
df['bowling_average'] = np.where(
    df['bowling_average'] == np.inf,
    df['bowler'].map(mapping),
    df['bowling_average']
)

In [519]:
df['bowling_average'].describe()

count    26519.000000
mean        12.449386
std         10.410877
min          0.000000
25%          6.000000
50%         11.000000
75%         16.948113
max        192.000000
Name: bowling_average, dtype: float64

In [520]:
df['bowling_average'].replace(0, 1, inplace=True)

/var/folders/mz/ywg60v213710yk8053f7h4k00000gn/T/ipykernel_86616/842387900.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bowling_average'].replace(0, 1, inplace=True)

In [521]:
mapping = dict(zip(batting['batter'], batting['career_batting_average']))
df['career_batting_average'] = df['batter'].map(mapping)

In [522]:
df

,bowler,batter,total_runs,is_wicket,bowling_average,career_batting_average
0,A Ashish Reddy,AB de Villiers,48,0,6.266667,41.384000
1,A Ashish Reddy,AC Thomas,10,0,6.266667,10.000000
2,A Ashish Reddy,AD Mathews,3,0,6.266667,23.354839
3,A Ashish Reddy,AD Russell,1,0,6.266667,29.619048
4,A Ashish Reddy,AL Menaria,9,0,6.266667,17.909091
...,...,...,...,...,...,...
27232,Z Khan,WA Mota,1,0,14.766818,11.200000
27233,Z Khan,WP Saha,39,0,14.766818,24.247934
27234,Z Khan,Y Venugopal Rao,9,0,14.766818,23.452381
27235,Z Khan,YK Pathan,35,1,35.000000,28.954955
27236,Z Khan,Yuvraj Singh,12,2,6.000000,25.266055

In [523]:
df['performance_index_against_batter'] = df['career_batting_average']/df['bowling_average']

In [524]:
avg_pi_bowler = df.groupby('bowler').agg({'performance_index_against_batter':'mean'}).reset_index()

In [525]:
avg_pi_bowler['performance_index_against_batter'].describe()

count    444.000000
mean       7.195177
std        7.558797
min        1.187795
25%        3.254261
50%        4.641943
75%        7.039354
max       51.905589
Name: performance_index_against_batter, dtype: float64

In [526]:
avg_pi_bowler[avg_pi_bowler['performance_index_against_batter'] == avg_pi_bowler['performance_index_against_batter'].min()]

           bowler  performance_index_against_batter
455  V Viyaskanth                          1.187795

In [527]:
avg_pi_bowler[avg_pi_bowler['performance_index_against_batter'] == avg_pi_bowler['performance_index_against_batter'].max()]

         bowler  performance_index_against_batter
46  Abdul Samad                         51.905589

In [528]:
avg_pi_bowler.sort_values(by='performance_index_against_batter', ascending=False).head(20)

               bowler  performance_index_against_batter
46        Abdul Samad                         51.905589
79            C Nanda                         48.180360
221          L Ablish                         42.926652
407       SS Cottrell                         40.816449
287          NB Singh                         36.198334
465           WA Mota                         35.291801
451           V Kohli                         35.160595
418    Shashank Singh                         34.852037
81    C de Grandhomme                         32.899972
202         KJ Abbott                         32.557154
89           CL White                         31.573045
316  PM Sarvesh Kumar                         31.247409
1            A Badoni                         30.832597
390     SE Rutherford                         30.686803
225       LB Williams                         29.971881
152          IC Porel                         29.903285
343           RG More                         29.571323
132         GH Vihari                         29.102728
254      MG Bracewell                         28.988536
262         MK Tiwary                         27.076813

In [529]:
avg_pi_bowler.columns = ['player', 'average_bowling_performance_index']

In [530]:
avg_pi_bowler.to_csv('bowler_performance_index.csv')

## Dealing with auction dataset

In [531]:
auction_data = pd.read_csv('IPLPlayerAuctionData.csv')

In [532]:
auction_data

,Player,Role,Amount,Team,Year,Player Origin
0,Aaron Finch,Batsman,40000000,Sunrisers Hyderabad,2014.0,Overseas
1,Aaron Finch,Batsman,32000000,Mumbai Indians,2015.0,Overseas
2,Aaron Finch,Batsman,10000000,Gujarat Lions,2016.0,Overseas
3,Aaron Finch,Batsman,62000000,Kings XI Punjab,2018.0,Overseas
4,Aaron Finch,Batsman,44000000,Royal Challengers Bangalore,2020.0,Overseas
...,...,...,...,...,...,...
965,Yuzvendra Singh Chahal,Bowler,1000000,Royal Challengers Bangalore,2014.0,Indian
966,Yuzvendra Singh Chahal,Bowler,60000000,Royal Challengers Bangalore,2018.0,Indian
967,Zaheer Khan,Bowler,26000000,Mumbai Indians,2014.0,Indian
968,Zaheer Khan,Bowler,40000000,Delhi Daredevils,2015.0,Indian
969,Zahir Khan Pakteen,Bowler,6000000,Rajasthan Royals,2018.0,Indian

In [533]:
avg_pi_batsmen

             player  average_batting_performance_index
0    A Ashish Reddy                           0.161916
1          A Badoni                           0.283516
2          A Chopra                           0.089891
3       A Choudhary                           0.124782
4        A Flintoff                           0.079263
..              ...                                ...
499        YV Dhull                           0.110913
500     YV Takawale                           0.129781
501   Yashpal Singh                           0.153219
502    Yuvraj Singh                           0.488666
503          Z Khan                           0.063315

[504 rows x 2 columns]

In [534]:
players = pd.merge(avg_pi_batsmen, avg_pi_bowler, on='player', how='outer')

In [535]:
players.fillna(0, inplace=True)

In [536]:
players

,player,average_batting_performance_index,average_bowling_performance_index
0,A Ashish Reddy,0.161916,5.846508
1,A Badoni,0.283516,30.832597
2,A Chandila,0.000000,9.879696
3,A Chopra,0.089891,0.000000
4,A Choudhary,0.124782,13.102461
...,...,...,...
675,Yash Thakur,0.000000,4.438647
676,Yashpal Singh,0.153219,0.000000
677,Yudhvir Singh,0.000000,16.099232
678,Yuvraj Singh,0.488666,3.494895
679,Z Khan,0.063315,2.468745

In [537]:
players.to_csv('player_performance_index.csv')

In [538]:
players = pd.read_csv('player_performance_index.csv', index_col = 0)

In [539]:
players

,player,average_batting_performance_index,average_bowling_performance_index
0,A Ashish Reddy,0.161916,5.846508
1,A Badoni,0.283516,30.832597
2,A Chandila,0.000000,9.879696
3,A Chopra,0.089891,0.000000
4,A Choudhary,0.124782,13.102461
...,...,...,...
675,Yash Thakur,0.000000,4.438647
676,Yashpal Singh,0.153219,0.000000
677,Yudhvir Singh,0.000000,16.099232
678,Yuvraj Singh,0.488666,3.494895
679,Z Khan,0.063315,2.468745

In [540]:
import requests
from bs4 import BeautifulSoup

# Step 1: Make a request to Google
search_query = "A Ashish Reddy"
url = f"https://www.google.com/search?q={search_query}"
headers = {'User-Agent': 'Mozilla/5.0'}  # Set a user-agent to avoid being blocked

response = requests.get(url, headers=headers)

soup = BeautifulSoup(response.text, 'html.parser')

results = soup.find_all('div')  

# Print out the results
for result in results:
    if 'www.espncricinfo.com' in result.get_text() and 'Profile' in result.get_text():
        name = result.get_text().split('Profile')[0].strip()

In [541]:
name

'Ashish Reddy'

In [542]:
def get_full_name(search_query):
    name = search_query
    # Step 1: Make a request to Google
    # search_query = "A Ashish Reddy"
    url = f"https://www.google.com/search?q={search_query}"
    headers = {'User-Agent': 'Mozilla/5.0'}  # Set a user-agent to avoid being blocked

    response = requests.get(url, headers=headers)

    soup = BeautifulSoup(response.text, 'html.parser')

    results = soup.find_all('div')  

    # Print out the results
    for result in results:
        if 'www.espncricinfo.com' in result.get_text() and 'Profile' in result.get_text():
            name = result.get_text().split('Profile')[0].strip()
    
    return name

In [48]:
import time

# Assuming players is already defined and has a 'player' attribute
name_map = {}
for player in players['player'].to_list():
    print(player)
    full_name = get_full_name(player)
    print(full_name)
    name_map[player] = full_name
    time.sleep(1.5)

# Uncomment the following line if you want to see the final map
# print(name_map)

A Ashish Reddy
Ashish Reddy
A Badoni
Ayush Badoni
A Chandila
Ajit Chandila
A Chopra
Agni Chopra
A Choudhary
Aniket Choudhary
A Dananjaya
Akila Dananjaya
A Flintoff
Andrew Flintoff
A Kamboj
Anshul Kamboj
A Kumble
Anil Kumble
A Manohar
Abhinav Manohar
A Mishra
Amit Mishra
A Mithun
Abhimanyu Mithun
A Mukund
Abhinav Mukund
A Nehra
Ashish Nehra
A Nel
Andre Nel
A Nortje
Anrich Nortje
A Raghuvanshi
Angkrish Raghuvanshi
A Singh
Anmolpreet Singh
A Symonds
Andrew Symonds
A Uniyal
Amit Uniyal
A Zampa
Adam Zampa
AA Bilakhia
Azhar Bilakhia
AA Chavan
Ankeet Chavan
AA Jhunjhunwala
Abhishek Jhunjhunwala
AA Noffke
Ashley Noffke
AB Agarkar
Ajit Agarkar
AB Barath
Adrian Barath
AB Dinda
Ashok Dinda
AB McDonald
Andrew McDonald
AB de Villiers
AB de Villiers
AC Blizzard
Aiden Blizzard
AC Gilchrist
Adam Gilchrist
AC Thomas
AC Thomas
AC Voges
Adam Voges
AD Hales
Alex Hales
AD Mascarenhas
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimDimitri MascarenhasCricketerAdrian Dimitri Mascarenhas is an English former international cricketer. A right-handed batsman and right-arm medium-fast bowler, he played internationally for the English cricket team and domestically for Hampshire County Cricket Club. WikipediaBorn: 30 October 1977 (age 46 years), Chiswick, London, United KingdomSpouse: Nadine Taylor (m. 2011)Nickname: DimiParents: Malik Mascarenhas and Pauline MascarenhasHeight: 1.85 mBowling: Right-arm medium-fastLast T20I: 14 June 2009 v IndiaShow moreShow lessDimitri Mascarenhas - Wikipediaen.wikipedia.org › wiki › Dimitri_MascarenhasAdrian Dimitri Mascarenhas (born 30 October 1977) is an English former international cricketer. A right-handed batsman and right-arm medium-fast bowler.Missing:  AD | Show results with:ADDimitri Mascarenhas - Cricket Player England - ESPNcricinfowww.espncricinfo.com › cricketers › dimitri-mascarenhas-16932Full Name. Adrian Dimitri Mascarenhas ; Born. October 30, 1977, Chiswick, Middlesex ; Age. 46y 361d ; Nicknames. Dimi ; Batting Style. Right hand Bat.People also askWhat is Dimitri Mascarenhas doing now?Who hit 5 sixes to Yuvraj Singh?Dimitri Mascarenhas
AD Mathews
Angelo Mathews
AD Nath
AD Nath
AD Russell
Andre Russell
AF Milne
Adam Milne
AG Murtaza
Ali Murtaza
AG Paunikar
Amit Paunikar
AJ Finch
Aaron Finch
AJ Hosein
Akeal Hosein
AJ Turner
Ashton Turner
AJ Tye
Andrew Tye
AK Markram
Aiden Markram
AL Menaria
Ashok Menaria
AM Nayar
Abhishek Nayar
AM Rahane
Ajinkya Rahane
AM Salvi
Aavishkar Salvi
AN Ahmed
Anwar Ahmed
AP Dole
Aditya Dole
AP Majumdar
Anustup Majumdar
AP Tare
Aditya Tare
AR Patel
Axar Patel
AS Joseph
Alzarri Joseph
AS Rajpoot
Ankit Rajpoot
AS Raut
Abhishek Raut
AS Roy
Anukul Roy
AS Yadav
Ashish Yadav
AT Carey
Nicola Carey
AT Rayudu
Ambati Rayudu
AU Rashid
Haroon Rashid
AUK Pathan
Asad Pathan
Abdul Samad
Abdul Samad
Abhishek Sharma
Abhishek Sharma
Abishek Porel
Abishek Porel
Akash Deep
Akash Deep
Akash Madhwal
Akash Madhwal
Akash Singh
Akash Singh
Aman Hakim Khan
Aman Khan
Anand Rajan
Anand Rajan
Anirudh Singh
Anirudh Singh
Ankit Sharma
Ankit Sharma
Ankit Soni
Ankit Soni
Anmolpreet Singh
Anmolpreet Singh
Anuj Rawat
Anuj Rawat
Anureet Singh
Anureet Singh
Arjun Tendulkar
Arjun Tendulkar
Arshad Khan
Arshad Khan
Arshdeep Singh
Arshdeep Singh
Ashutosh Sharma
Ashutosh Sharma
Atharva Taide
Atharva Taide
Avesh Khan
Avesh Khan
Azhar Mahmood
Azhar Mahmood
Azmatullah Omarzai
AllNewsImagesShopping Maps Videos Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimAzmatullah Omarzai - Cricket Player Afghanistan - ESPNcricinfowww.espncricinfo.com › cricketers › azmatullah-omarzai-819429Full Name. Azmatullah Omarzai ; Born. March 24, 2000 ; Age. 24y 216d ; Batting Style. Right hand Bat ; Bowling Style. Right arm Medium fast.Azmatullah Omarzai
B Akhil
Balachandra Akhil
B Chipli
Bharat Chipli
B Geeves
Brett Geeves
B Indrajith
Baba Aparajith
B Kumar
Bhuvneshwar Kumar
B Laughlin
Ben Laughlin
B Lee
Brett Lee
B Sai Sudharsan
Sai Sudharsan
B Stanlake
Billy Stanlake
B Sumanth
Bodapati Sumanth
BA Bhatt
Bhargav Bhatt
BA Stokes
Ben Stokes
BAW Mendis
Ajantha Mendis
BB McCullum
Brendon McCullum
BB Samantray
Biplab Samantray
BB Sran
Barinder Sran
BCJ Cutting
Ben Cutting
BE Hendricks
Beuran Hendricks
BJ Hodge
Brad Hodge
BJ Rohrer
Ben Rohrer
BMAJ Mendis
AllImagesVideosNews Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimJeevan Mendis - Cricket Player Sri Lanka - ESPNcricinfowww.espncricinfo.com › cricketers › jeevan-mendis-49700Full Name. Balapuwaduge Manukulasuriya Amith Jeevan Mendis ; Born. January 15, 1983, Colombo ; Age. 41y 285d ; Batting Style. Left hand Bat ; Bowling Style.Jeevan Mendis bowling stats - Cricmetricwww.cricmetric.com › playerstats › player=BMAJ MendisBirth date: January 15, 1983 ; Birth place: Colombo ; Bats/Bowls: Left/Right ; Role: Allrounder ; Bowling style: Legbreak.People also askWhy did Ajantha Mendis retire?What did kusal mendis do?Why is Ajantha Mendis faded?Who is Eranga Mendis?Jeevan Mendis
BR Dunk
Ben Dunk
BW Hilfenhaus
Ben Hilfenhaus
Basil Thampi
Basil Thampi
Bipul Sharma
Bipul Sharma
C Green
Chris Green
C Madan
Chandan Madan
C Munro
Colin Munro
C Nanda
Chetanya Nanda
C Sakariya
Chetan Sakariya
C de Grandhomme
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimColin de Grandhomme - Cricket Player New Zealand - ESPNcricinfowww.espncricinfo.com › cricketers › colin-de-grandhomme-55395A bruising, broad-shouldered batsman, and a disciplined medium-pace bowler, Colin de Grandhomme left Zimbabwe for Auckland in 2006.Matches · Stats · News · RecordsColin de Grandhomme
CA Ingram
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimColin Ingram - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › colin-ingram-45705Colin Ingram, a blond, bestubbled, bruising left-hander, is among the crispest hitters produced by South Africa's Eastern Cape.Stats · Matches · Records · NewsColin Ingram
CA Lynn

ConnectionError: HTTPSConnectionPool(host='www.google.com', port=443): Max retries exceeded with url: /search?q=CA%20Lynn (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x72034d4c2190>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))

In [50]:
name_map

{'A Ashish Reddy': 'Ashish Reddy',
 'A Badoni': 'Ayush Badoni',
 'A Chandila': 'Ajit Chandila',
 'A Chopra': 'Agni Chopra',
 'A Choudhary': 'Aniket Choudhary',
 'A Dananjaya': 'Akila Dananjaya',
 'A Flintoff': 'Andrew Flintoff',
 'A Kamboj': 'Anshul Kamboj',
 'A Kumble': 'Anil Kumble',
 'A Manohar': 'Abhinav Manohar',
 'A Mishra': 'Amit Mishra',
 'A Mithun': 'Abhimanyu Mithun',
 'A Mukund': 'Abhinav Mukund',
 'A Nehra': 'Ashish Nehra',
 'A Nel': 'Andre Nel',
 'A Nortje': 'Anrich Nortje',
 'A Raghuvanshi': 'Angkrish Raghuvanshi',
 'A Singh': 'Anmolpreet Singh',
 'A Symonds': 'Andrew Symonds',
 'A Uniyal': 'Amit Uniyal',
 'A Zampa': 'Adam Zampa',
 'AA Bilakhia': 'Azhar Bilakhia',
 'AA Chavan': 'Ankeet Chavan',
 'AA Jhunjhunwala': 'Abhishek Jhunjhunwala',
 'AA Noffke': 'Ashley Noffke',
 'AB Agarkar': 'Ajit Agarkar',
 'AB Barath': 'Adrian Barath',
 'AB Dinda': 'Ashok Dinda',
 'AB McDonald': 'Andrew McDonald',
 'AB de Villiers': 'AB de Villiers',
 'AC Blizzard': 'Aiden Blizzard',
 'AC Gilchrist': 'Adam Gilchrist',
 'AC Thomas': 'AC Thomas',
 'AC Voges': 'Adam Voges',
 'AD Hales': 'Alex Hales',
 'AD Mascarenhas': 'AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimDimitri MascarenhasCricketerAdrian Dimitri Mascarenhas is an English former international cricketer. A right-handed batsman and right-arm medium-fast bowler, he played internationally for the English cricket team and domestically for Hampshire County Cricket Club. WikipediaBorn: 30 October 1977 (age 46\xa0years), Chiswick, London, United KingdomSpouse: Nadine Taylor (m. 2011)Nickname: DimiParents: Malik Mascarenhas and Pauline MascarenhasHeight: 1.85\xa0mBowling: Right-arm medium-fastLast T20I: 14 June 2009 v IndiaShow moreShow lessDimitri Mascarenhas - Wikipediaen.wikipedia.org › wiki › Dimitri_MascarenhasAdrian Dimitri Mascarenhas (born 30 October 1977) is an English former international cricketer. A right-handed batsman and right-arm medium-fast bowler.Missing:  AD | Show results with:ADDimitri Mascarenhas - Cricket Player England - ESPNcricinfowww.espncricinfo.com › cricketers › dimitri-mascarenhas-16932Full Name. Adrian Dimitri Mascarenhas ; Born. October 30, 1977, Chiswick, Middlesex ; Age. 46y 361d ; Nicknames. Dimi ; Batting Style. Right hand Bat.People also askWhat is Dimitri Mascarenhas doing now?Who hit 5 sixes to Yuvraj Singh?Dimitri Mascarenhas',
 'AD Mathews': 'Angelo Mathews',
 'AD Nath': 'AD Nath',
 'AD Russell': 'Andre Russell',
 'AF Milne': 'Adam Milne',
 'AG Murtaza': 'Ali Murtaza',
 'AG Paunikar': 'Amit Paunikar',
 'AJ Finch': 'Aaron Finch',
 'AJ Hosein': 'Akeal Hosein',
 'AJ Turner': 'Ashton Turner',
 'AJ Tye': 'Andrew Tye',
 'AK Markram': 'Aiden Markram',
 'AL Menaria': 'Ashok Menaria',
 'AM Nayar': 'Abhishek Nayar',
 'AM Rahane': 'Ajinkya Rahane',
 'AM Salvi': 'Aavishkar Salvi',
 'AN Ahmed': 'Anwar Ahmed',
 'AP Dole': 'Aditya Dole',
 'AP Majumdar': 'Anustup Majumdar',
 'AP Tare': 'Aditya Tare',
 'AR Patel': 'Axar Patel',
 'AS Joseph': 'Alzarri Joseph',
 'AS Rajpoot': 'Ankit Rajpoot',
 'AS Raut': 'Abhishek Raut',
 'AS Roy': 'Anukul Roy',
 'AS Yadav': 'Ashish Yadav',
 'AT Carey': 'Nicola Carey',
 'AT Rayudu': 'Ambati Rayudu',
 'AU Rashid': 'Haroon Rashid',
 'AUK Pathan': 'Asad Pathan',
 'Abdul Samad': 'Abdul Samad',
 'Abhishek Sharma': 'Abhishek Sharma',
 'Abishek Porel': 'Abishek Porel',
 'Akash Deep': 'Akash Deep',
 'Akash Madhwal': 'Akash Madhwal',
 'Akash Singh': 'Akash Singh',
 'Aman Hakim Khan': 'Aman Khan',
 'Anand Rajan': 'Anand Rajan',
 'Anirudh Singh': 'Anirudh Singh',
 'Ankit Sharma': 'Ankit Sharma',
 'Ankit Soni': 'Ankit Soni',
 'Anmolpreet Singh': 'Anmolpreet Singh',
 'Anuj Rawat': 'Anuj Rawat',
 'Anureet Singh': 'Anureet Singh',
 'Arjun Tendulkar': 'Arjun Tendulkar',
 'Arshad Khan': 'Arshad Khan',
 'Arshdeep Singh': 'Arshdeep Singh',
 'Ashutosh Sharma': 'Ashutosh Sharma',
 'Atharva Taide': 'Atharva Taide',
 'Avesh Khan': 'Avesh Khan',
 'Azhar Mahmood': 'Azhar Mahmood',
 'Azmatullah Omarzai': 'AllNewsImagesShopping Maps Videos Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimAzmatullah Omarzai - Cricket Player Afghanistan - ESPNcricinfowww.espncricinfo.com › cricketers › azmatullah-omarzai-819429Full Name. Azmatullah Omarzai ; Born. March 24, 2000 ; Age. 24y 216d ; Batting Style. Right hand Bat ; Bowling Style. Right arm Medium fast.Azmatullah Omarzai',
 'B Akhil': 'Balachandra Akhil',
 'B Chipli': 'Bharat Chipli',
 'B Geeves': 'Brett Geeves',
 'B Indrajith': 'Baba Aparajith',
 'B Kumar': 'Bhuvneshwar Kumar',
 'B Laughlin': 'Ben Laughlin',
 'B Lee': 'Brett Lee',
 'B Sai Sudharsan': 'Sai Sudharsan',
 'B Stanlake': 'Billy Stanlake',
 'B Sumanth': 'Bodapati Sumanth',
 'BA Bhatt': 'Bhargav Bhatt',
 'BA Stokes': 'Ben Stokes',
 'BAW Mendis': 'Ajantha Mendis',
 'BB McCullum': 'Brendon McCullum',
 'BB Samantray': 'Biplab Samantray',
 'BB Sran': 'Barinder Sran',
 'BCJ Cutting': 'Ben Cutting',
 'BE Hendricks': 'Beuran Hendricks',
 'BJ Hodge': 'Brad Hodge',
 'BJ Rohrer': 'Ben Rohrer',
 'BMAJ Mendis': 'AllImagesVideosNews Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimJeevan Mendis - Cricket Player Sri Lanka - ESPNcricinfowww.espncricinfo.com › cricketers › jeevan-mendis-49700Full Name. Balapuwaduge Manukulasuriya Amith Jeevan Mendis ; Born. January 15, 1983, Colombo ; Age. 41y 285d ; Batting Style. Left hand Bat ; Bowling Style.Jeevan Mendis bowling stats - Cricmetricwww.cricmetric.com › playerstats › player=BMAJ MendisBirth date: January 15, 1983 ; Birth place: Colombo ; Bats/Bowls: Left/Right ; Role: Allrounder ; Bowling style: Legbreak.People also askWhy did Ajantha Mendis retire?What did kusal mendis do?Why is Ajantha Mendis faded?Who is Eranga Mendis?Jeevan Mendis',
 'BR Dunk': 'Ben Dunk',
 'BW Hilfenhaus': 'Ben Hilfenhaus',
 'Basil Thampi': 'Basil Thampi',
 'Bipul Sharma': 'Bipul Sharma',
 'C Green': 'Chris Green',
 'C Madan': 'Chandan Madan',
 'C Munro': 'Colin Munro',
 'C Nanda': 'Chetanya Nanda',
 'C Sakariya': 'Chetan Sakariya',
 'C de Grandhomme': 'AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimColin de Grandhomme - Cricket Player New Zealand - ESPNcricinfowww.espncricinfo.com › cricketers › colin-de-grandhomme-55395A bruising, broad-shouldered batsman, and a disciplined medium-pace bowler, Colin de Grandhomme left Zimbabwe for Auckland in 2006.Matches · Stats · News · RecordsColin de Grandhomme',
 'CA Ingram': "AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimColin Ingram - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › colin-ingram-45705Colin Ingram, a blond, bestubbled, bruising left-hander, is among the crispest hitters produced by South Africa's Eastern Cape.Stats · Matches · Records · NewsColin Ingram"}

In [54]:
index = players['player'].to_list().index('Gagandeep Singh')
for player in players['player'].to_list()[index:]:
    full_name = get_full_name(player)
    print(full_name)
    name_map[player] = full_name
    time.sleep(1.5)

Gagandeep Singh
Gurkeerat Singh Mann
Gurnoor Brar
Heinrich Klaasen
Himanshu Sharma
Harry Brook
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimRassie van der DussenSouth African cricketerView allHendrik Erasmus "Rassie" van der Dussen is a South African professional cricketer who represents the South Africa national cricket team and plays for Gauteng in domestic cricket. In the 2018 South African Cricket Annual, he was named as one of the... WikipediaBorn: 7 February 1989 (age 35 years), Pretoria, South AfricaSpouse: Lara van der DussenCurrent teams: South Africa national cricket team, MI Cape Town (Batter), Vancouver Knights (Batter) and moreDates joined: 2024 (Lahore Qalandars), 2023 (MI Cape Town, Islamabad United), February 2022 (Rajasthan Royals) and moreBatting: Right-handedBowling: Right arm leg breakLast ODI: 4 October 2024 v IrelandShow moreShow lessRassie van der Dussen - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › rassie-van-der-dussen-337790Full Name. Hendrik Erasmus van der Dussen ; Born. February 07, 1989, Pretoria, Transvaal (now Gauteng) ; Age. 35y 262d ; Batting Style. Right hand Bat ; Bowling ...Stats · Records · Photos · MatchesPeople also askWhy is Van der Dussen not playing the World Cup?Who is the cricketer of Dutch origin in South Africa?What happened to Rassie van der Dussen?Does Rassie van der Dussen play IPL?Rassie van der Dussen
Harry Gurney
Herschelle Gibbs
Hardik Pandya
Hashim Amla
Hrithik Shokeen
Harshal Patel
Harbhajan Singh
Harmeet Singh
Harpreet Brar
Harpreet Singh
Harshit Rana
Ishant Sharma
Isuru Udana
Ishwar Pandey
Abishek Porel
Irfan Pathan
Ishank Jaggi
Ish Sodhi
Imran Tahir
Iqbal Abdulla
Ishan Kishan
Jagadeesh Arunkumar
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimJohan Botha - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › johan-botha-44149Johan Botha was the quintessential limited-overs player, who did several things well, adding value as a thrifty offspinner, a useful lower-order batter, ...Johan Botha
Jake Fraser-McGurk
Josh Little
Jagadeesha Suchith
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimJamaluddin Syed MohammadIndian cricketerJamaluddin Syed Mohammed is an Indian cricketer who plays for Assam as a specialist slow left arm orthodox bowler. He is one who can hit sixes in death overs. WikipediaBorn: 3 June 1983 (age 41 years), ChennaiJamaluddin Syed Mohammad - Cricket Player India - ESPNcricinfowww.espncricinfo.com › cricketers › jamaluddin-syed-mohammad-35261Full Name. Jamaluddin Syed Mohammad ; Born. June 03, 1983, Madras (now Chennai), Tamil Nadu ; Age. 41y 142d ; Batting Style. Left hand Bat ; Bowling Style. Slow ...Syed Mohammed - Wikipediaen.wikipedia.org › wiki › Syed_MohammedJamaluddin Syed Mohammed (born 3 June 1983) is an Indian cricketer who plays for Assam as a specialist slow left arm orthodox bowler.Missing:  J | Show results with:JJS Mohammad - ICC Ranking, Age, Career Info & Stats - Cricbuzz.comwww.cricbuzz.com › profiles › js-mohammadPersonal Information: Born June 03, 1983 (41 years), Birth Place: Chennai, Nickname: JS Mohammad, Role: Bowling Allrounder, Batting Style: Left Handed Bat.ImagesView allView allJamaluddin Syed Mohammad Photos | Image Gallery and Match ...www.espncricinfo.com › cricketers › photosFind the perfect Jamaluddin Syed Mohammad photos and pictures from ESPNcricinfo Images. Check out a diverse selection of on-field and off-field photos.Jamaluddin Syed Mohammad stats in TWENTY20 - Cricmetricwww.cricmetric.com › playerstats › player=J Syed MohammadBirth place: Madras (now Chennai) ; Bats/Bowls: Left/Left ; Role: Bowler ; Bowling style: Orthodox ; Teams played for: Royal Challengers Bangalore, Lyca Kovai Kings.Jamaluddin Syed Mohammad
Rusty Theron
Jayant Yadav
Morne Morkel
Jhye Richardson
JC Archer
Jos Buttler
Jesse Ryder
Jaydev Unadkat
Jacob Oram
James Neesham
Jerome Taylor
James Franklin
Jacques Kallis
Jasprit Bumrah
Jason Roy
AllImagesNewsMaps Videos Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimJohan van der Wath - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › johan-van-der-wath-47693Full Name. Johannes Jacobus van der Wath ; Born. January 10, 1978, Newcastle, Natal ; Age. 46y 290d ; Batting Style. Right hand Bat ; Bowling Style. Right arm ...Johan van der Wath - Wikipediaen.wikipedia.org › wiki › Johan_van_der_WathJohannes Jacobus van der Wath (born 10 January 1978) is a South African former cricketer who played Limited Over Internationals.Johan van der WathSouth African former cricketerJohannes Jacobus van der Wath is a South African former cricketer who played Limited Over Internationals. WikipediaBorn: 10 January 1978 (age 46 years), Newcastle, South AfricaNationality: South AfricanJohan van der Wath
James Pattinson
David Bairstow
John Kemp
Jitesh Sharma
Jason Holder
Jason Behrendorff
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimJean-Paul Duminy - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › jean-paul-duminy-44932A classy left-hander with a full range of shots, JP Duminy's career has become a story of unfulfilled promise against the backdrop of bad luck with injury.Stats · Matches · Records · PhotosJean-Paul Duminy
James Faulkner
Javon Searles
Josh Hazlewood
James Hopes
Josh Philippe
John Hastings
Jatin Saxena
Jaskaran Singh
Joginder Sharma
Karan Goel
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimKrishnappa GowthamIndian cricketerView allKrishnappa Gowtham is an Indian cricketer who plays for Karnataka. He made his international debut for India in July 2021. His father M. Krishnappa represented Karnataka in kabaddi. WikipediaBorn: 20 October 1988 (age 36 years), BengaluruCurrent teams: Mangaluru Dragons (All-rounder), Karnataka cricket team (All-rounder), Lucknow Super Giants (All-rounder) and moreDates joined: 2021 (Chennai Super Kings), 2020 (Punjab Kings), 2018 (Rajasthan Royals) and moreHeight: 1.88 mBowling: Right-arm off-break2011/12–present: Karnataka2022–present: Lucknow Super GiantsShow moreShow lessKrishnappa Gowtham - Cricket Player India - ESPNcricinfowww.espncricinfo.com › cricketers › krishnappa-gowtham-424377Full Name. Krishnappa Gowtham ; Born. October 20, 1988, Bangalore, Karnataka ; Age. 36y 6d ; Batting Style. Right hand Bat ; Bowling Style. Right arm Offbreak.Photos · News · Videos · MatchesKrishnappa Gowtham (@gowthamyadav1) - Instagramwww.instagram.com › gowthamyadav1Krishnappa Gowtham is poised to demonstrate his exceptional cricketing abilities as a key player for the Lucknow Super Giants @lucknowsupergiants in the ...Krishnappa Gowtham
Kumar Kartikeya
Kulwant Khejroliya
Kagiso Rabada
Krishmar Santokie
Krishnakant Upadhyay
Kuldeep Yadav
Kyle Jamieson
Keshav Maharaj
Kieron Pollard
Kemar Roach
Arun Karthik
KC Cariappa
Kumar Sangakkara
Dinesh Karthik
Hardik Pandya
Kyle Abbott
Khaleel Ahmed
Kevon Cooper
Karun Nair
Kamlesh Nagarkoti
KL Rahul
KM Asif
KM Jadhav
Keemo Paul
Nuwan Kulasekara
KP Appanna
Kevin Pietersen
Kyle Mayers
Khokhan Sen
Srikar Bharat
KS Sharma
Kane Williamson
Kwena Maphaka
Karn Sharma
AllImagesNewsShopping Maps Videos Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimKane Richardson - Cricket Player Australia - ESPNcricinfowww.espncricinfo.com › cricketers › kane-richardson-272262A pace bowler who has often been on the fringes of Australia's ODI and T20 teams, Kane Richardson is know for his skills at the death and has an excellent ...Stats · Matches · News · RecordsKane Richardson
Kamran Akmal
Kamran Khan
Karanveer Singh
Kartik Tyagi
Kuldeep Yadav
Love Ablish
Lakshmipathy Balaji
Lungi Ngidi
Luke Ronchi
Luke Wood
AllMapsNewsImages Videos Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimLee Carseldine - Wikipediaen.wikipedia.org › wiki › Lee_CarseldineLee Andrew Carseldine (born 17 November 1975) is a retired professional Australian cricketer. Lee Carseldine. Personal information. Full name.Lee Carseldine - Cricket Player Australia - ESPNcricinfowww.espncricinfo.com › cricketers › lee-carseldine-4541A versatile left-hander, he picked up 595 runs in the Sheffield Shield, 477 in the FR Cup at 43.36 and an incredible 298 in the Twenty20 competition.Lee CarseldineRetired Australian cricketerLee Andrew Carseldine is a retired professional Australian cricketer. WikipediaBorn: 17 November 1975 (age 48 years), Nambour, AustraliaHeight: 1.87 mPeople also askWhat is Lee Carseldine doing now?Did Lee and El from Australian Survivor date?Who is the former cricketer Lee?Lee Carseldine (@leecarseldine) • Instagram photos and videoswww.instagram.com › leecarseldineEntrepreneur, washed up sporty, @droneitgroup founder, @thegreatoutdoors_7 TV presenter, @weekender_tv & @creektocoast TV presenter, @atora.burleigh co-owner.Missing:  LA | Show results with:LAImagesView allView allLee Carseldine (Australia)australia.crictotal.com › profile › lee-carseldineHere is a profile and biography of Australia cricket player Lee Carseldine. Read for information on Australia cricketer Lee Andrew Carseldine.Lee Carseldine batting stats - Cricmetricwww.cricmetric.com › playerstats › player=LA CarseldineBirth date: November 17, 1975 ; Birth place: Nambour ; Bats/Bowls: Left/Left ; Role: Allrounder ; Bowling style: Medium.La Carseldine - MoneyBall - InsideSportmoneyball.insidesport.in › single-playerLa Carseldine · TEAM : Rajasthan Royals · SALARY (2009) : ₹ 1,473,600 · NATIONALITY: Australia · TOTAL IPL INCOME: ₹ 1,473,600 · IPL Salary Rank: 780 ...Mobile Cricket: Lee Andrew Carseldine (Australia) player
Luke Pomersbach
Lizaad Williams
Liam Plunkett
AllImagesNewsShopping Maps Videos Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimLockie Ferguson - Cricket Player New Zealand - ESPNcricinfowww.espncricinfo.com › cricketers › lockie-ferguson-493773Fiercely quick right-arm fast bowler Lockie Ferguson made an impact at the 2019 ODI World Cup in England with his bruising pace and bounce.Matches · Records · Stats · PhotosPeople also askWhich team did Ferguson play in IPL?Which team is Lowkey Ferguson in IPL?What was Ferguson's best spell in T20?What happened to Lockie Ferguson?Lockie Ferguson - Wikipediaen.wikipedia.org › wiki › Lockie_FergusonLockie Ferguson (born 13 June 1991) is a New Zealand cricketer who represents the New Zealand national team and plays first-class cricket for Auckland.Lockie Ferguson
Lukman Meriwala
Luke Wright
Phil Simmons
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimChamara Silva - Cricket Player Sri Lanka - ESPNcricinfowww.espncricinfo.com › cricketers › chamara-silva-50431Full Name. Lindamlilage Prageeth Chamara Silva ; Born. December 14, 1979, Panadura ; Age. 44y 316d ; Batting Style. Right hand Bat ; Bowling Style. Legbreak.Chamara Silva
Laxmi Shukla
Ross Taylor
Liam Livingstone
Lalit Yadav
Murugan Ashwin
Marco Jansen
Mohammad Kaif
Murali Kartik
Michael Klinger
Mithun Manhas
Mayank Markande
Morne Morkel
Muthiah Muralidaran
Makhaya Ntini
Matheesha Pathirana
Prasidh Krishna
Mayank Rawat
M Shahrukh Khan
Manimaran Siddharth
Maheesh Theekshana
Murali Vijay
Manan Vohra
Marchant de Lange
Mayank Agarwal
Musavir Khote
Mitchell Starc
MA Wood
MB Parmar
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimMoises HenriquesAustralian cricketerView allMoisés Constantino Henriques is an Australian international cricketer who plays for Australia, New South Wales and the Sydney Sixers. An all-rounder, he is the first cricketer born in Portugal to play for Australia in an international match. WikipediaBorn: 1 February 1987 (age 37 years), Funchal, PortugalCurrent teams: Sydney Sixers (All-rounder), Washington Freedom (All-rounder), New South Wales (All-rounder) and moreDates joined: 2020 (Punjab Kings), December 2018 (Punjab Kings), 2015 (Surrey County Cricket Club) and moreHeight: 1.89 mParents: Alvaro Henriques and Anabela Henriques2006/07–present: New South WalesBatting: Right-handedShow moreShow lessMoises Henriques - Cricket Player Australia - ESPNcricinfowww.espncricinfo.com › cricketers › moises-henriques-5961Born on the Portuguese island of Madeira, Moises Henriques arrived in Australia as a baby and first played cricket with friends aged nine.Records · Matches · Stats · NewsPeople also askWas Moisés Henriques listening to Spotify?Who is Henriques?Is Moisés Henriques married?What is Sean Abbott famous for?Moises Henriques
Manprit Juneja
MD Mishra
Dasun Shanaka
Michael Hussey
AllImagesVideosShopping Maps News Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimFarveez Maharoof - Cricket Player Sri Lanka - ESPNcricinfowww.espncricinfo.com › cricketers › farveez-maharoof-49638Farveez Maharoof is a fast-bowling allrounder who bowls lively seamers from an upright, open-chested action.Farveez Maharoof - Wikipediaen.wikipedia.org › wiki › Farveez_MaharoofFarveez Maharoof is a Sri Lankan former professional cricketer, who played Tests and ODIs. He first made his impression in the 2004 Under-19 Cricket World Cup.Farveez Maharoof
Doug Bracewell
Mitchell Johnson
Michael Neser
Michael Clarke
Martin Guptill
Matt Henry
Michael Lumb
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimMitchell McClenaghan - Cricket Player New Zealand - ESPNcricinfowww.espncricinfo.com › cricketers › mitchell-mcclenaghan-319439Mitchell McClenaghan is a left-arm fast bowler who has established himself as a regular in New Zealand's limited-overs sides.People also askHas McClenaghan retired?Who is Mclaren in New Zealand cricket?Who is McClenaghan New Zealand fast bowler?Mitchell McClenaghan - Wikipediaen.wikipedia.org › wiki › Mitchell_McClenaghanMitchell John McClenaghan (born 11 June 1986) is a New Zealand former international cricketer who played One Day Internationals and Twenty20 Internationals ...Mitchell McClenaghan
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimMitchell Santner - Cricket Player New Zealand - ESPNcricinfowww.espncricinfo.com › cricketers › mitchell-santner-502714A left-handed batsman and left-arm spinner, Mitchell Santner was first elevated to the New Zealand side after a promising 2014-15 domestic season.Stats · Matches · Photos · RecordsMitchell Santner
Mahipal Lomror
MK Pandey
Manoj Tiwary
Matthew Hayden
Moeen Ali
Munaf Patel
Mohit Sharma
Marlon Samuels
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimMorne van Wyk - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › morne-van-wyk-47711A naturally attacking player, he opened the batting for Free State in limited-overs matches and earned respect beyond his years at first-class level.Records · Matches · PhotosMorne van Wyk
Marcus Stoinis
MP Yadav
Shaun Marsh
Manvinder Bisla
MS Dhoni
Manpreet Gony
Matthew Wade
Mark Boucher
Matthew Short
Mandeep Singh
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimMashrafe Bin MortazaFormer Member of Jatiya SangsadMashrafe Bin Mortaza, popularly known as the Narail Express, is a Bangladeshi politician and cricketer who captained in all three formats of the game for the Bangladesh national cricket team and a former Jatiya Sangsad member representing the... WikipediaBorn: 5 October 1983 (age 41 years), Narail District, BangladeshSpouse: Sumona Haque Sumi (m. 2006)Current teams: Sylhet Strikers (Cricket Bowler) and Legends of Rupganj (Cricket Bowler)Education: Jahangirnagar University (2003–2004)Height: 1.85 mChildren: Humaira Mortaza and Sahil MortazaParents: Hamida Mortaza and Golam MortazaShow moreShow lessMashrafe Mortaza - Wikipediaen.wikipedia.org › wiki › Mashrafe_MortazaMashrafe Bin Mortaza (born 5 October 1983), popularly known as the Narail Express, is a Bangladeshi politician and cricketer who captained in all three ...People also askDid Mashrafe play in IPL?Is Mashrafe Mortaza married?Who is the cricketer turned MP in Bangladesh?Who is the best captain of Bangladesh?Mashrafe Mortaza - Cricket Player Bangladesh - ESPNcricinfowww.espncricinfo.com › cricketers › mashrafe-mortaza-56007Read about Mashrafe Mortaza cricket player from Bangladesh profile, stats, rankings, records, videos, photos at ESPNcricinfo.Photos · Matches · Stats · RecordsMashrafe Mortaza
Mayank Dagar
Misbah-ul-Haq
Mohammad Asif
Mohammad Hafeez
Mohammad Nabi
Mohammed Shami
Mohammed Siraj
Mohsin Khan
Mujeeb Ur Rahman
Mukesh Choudhary
Mukesh Kumar
Mustafizur Rahman
Nandre Burger
Narayan Jagadeesan
Nicholas Pooran
Nahid Rana
Nitin Saini
Nuwan Thushara
Nehal Wadhera
NB Singh
Nayan Doshi
Nic Maddinson
AllNewsImagesMaps Videos Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimNathan Rimmington - Cricket Player Australia - ESPNcricinfowww.espncricinfo.com › cricketers › nathan-rimmington-7443A right-arm fast bowler, Nathan Rimmington made his first-class debut in 2005-06 when Michael Kasprowicz was re-launched into the Test squad.Nathan Rimmington - Wikipediaen.wikipedia.org › wiki › Nathan_RimmingtonNathan John Rimmington (born 11 November 1982) is an Australian former cricketer who last played for Durham County. He is an attacking right-arm fast-medium ...Nathan RimmingtonAustralian former cricketerNathan John Rimmington is an Australian former cricketer who last played for Durham County. He is an attacking right-arm fast-medium bowler. Born in Redcliffe, Queensland, Rimmington holds dual Australian and British citizenship. WikipediaBorn: 11 November 1982 (age 41 years), Redcliffe, AustraliaHeight: 1.77 mBowling: Right-arm fast-mediumNathan Rimmington
NK Patel
Brendon McCullum
Thisara Perera
Nathan Coulter-Nile
NS Naik
Nathan Ellis
Naman Ojha
Naman Dhir
Navdeep Saini
Naveen-ul-Haq
Nitish Kumar Reddy
Noor Ahmad
Oshane Thomas
Owais Shah
Obed McCoy
Odean Smith
Palani Amarnath
Parvinder Awana
Paras Dogra
Praveen Dubey
Parveen Kumar
Pawan Negi
P Parameswaran
Prayas Ray Barman
Pardeep Sahu
Prabhsimran Singh
Pawan Suyal
Parthiv Patel
PA Reddy

In [543]:
players['player'][0]

'A Ashish Reddy'

In [544]:
name_map

NameError: name 'name_map' is not defined

In [57]:
players.replace({'player':name_map}, inplace=True)      #Replace the 'player' column with the values of 'player' from the name_map dictionary

In [58]:
players.to_csv('player_performance_index.csv')

In [81]:
auction_data = pd.read_csv('IPLPlayerAuctionData.csv')

In [82]:
auction_data

,Player,Role,Amount,Team,Year,Player Origin
0,Aaron Finch,Batsman,40000000,Sunrisers Hyderabad,2014.0,Overseas
1,Aaron Finch,Batsman,32000000,Mumbai Indians,2015.0,Overseas
2,Aaron Finch,Batsman,10000000,Gujarat Lions,2016.0,Overseas
3,Aaron Finch,Batsman,62000000,Kings XI Punjab,2018.0,Overseas
4,Aaron Finch,Batsman,44000000,Royal Challengers Bangalore,2020.0,Overseas
...,...,...,...,...,...,...
965,Yuzvendra Singh Chahal,Bowler,1000000,Royal Challengers Bangalore,2014.0,Indian
966,Yuzvendra Singh Chahal,Bowler,60000000,Royal Challengers Bangalore,2018.0,Indian
967,Zaheer Khan,Bowler,26000000,Mumbai Indians,2014.0,Indian
968,Zaheer Khan,Bowler,40000000,Delhi Daredevils,2015.0,Indian
969,Zahir Khan Pakteen,Bowler,6000000,Rajasthan Royals,2018.0,Indian

In [83]:
latest_records = auction_data.loc[auction_data.groupby('Player')['Year'].idxmax()]
#First we group the dataFrame by the player names, And then find the indices of the rows that have the highest value for the 'Year' column
    #Then, we use loc to only select those columns that have the highest value of 'Year' for each player

In [84]:
latest_records

,Player,Role,Amount,Team,Year,Player Origin
4,Aaron Finch,Batsman,44000000,Royal Challengers Bangalore,2020.0,Overseas
5,Abdul Samad,All-Rounder,2000000,Sunrisers Hyderabad,2020.0,Indian
6,Abhijeet Tomar,Batsman,4000000,Kolkata Knight Riders,2022.0,Indian
8,Abhimanyu Mithun,Bowler,3000000,Sunrisers Hyderabad,2016.0,Indian
9,Abhinav Sadarangani,Batsman,26000000,Gujarat Titans,2022.0,Indian
...,...,...,...,...,...,...
963,Yuvraj Singh,All-Rounder,10000000,Mumbai Indians,2019.0,Indian
964,Yuzvendra Chahal,Bowler,65000000,Rajasthan Royals,2022.0,Indian
966,Yuzvendra Singh Chahal,Bowler,60000000,Royal Challengers Bangalore,2018.0,Indian
968,Zaheer Khan,Bowler,40000000,Delhi Daredevils,2015.0,Indian
969,Zahir Khan Pakteen,Bowler,6000000,Rajasthan Royals,2018.0,Indian

In [85]:
for player in latest_records['Player'].to_list():
    full_name = get_full_name(player)
    print(full_name)
    name_map[player] = full_name
    time.sleep(1.5)

Aaron Finch
Abdul Samad
Abhijeet Tomar
Abhimanyu Mithun
Abhinav Manohar
Abhishek Nayar
Abhishek Sharma
Abu Nechim
Adam Milne
Adam Zampa
Aditya Garhwal
Aditya Tare
Agnivesh Ayachi
Aiden Blizzard
Aiden Markram
Ajantha Mendis
Ajinkya Rahane
Akash Deep
Akash Singh
Akhil Herwadkar
Akila Dananjaya
Akila Dananjaya
Axar Patel
Akshay Karnewar
Akshay Wakhare
Akshdeep Nath
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimAlbie Morkel - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › albie-morkel-46248A medium-fast bowler and hard-hitting batsman, he was likened to Lance Klusener but his domestic dominance failed to translate to the international level.Matches · Photos · Stats · RecordsAlbie Morkel (@albiemorkel81) • Instagram photos and videoswww.instagram.com › albiemorkel81New coach alert Man of the Series in the Proteas' ODI series victory over Australia in 2009. Winner of the Super Sixes tournament at IPL 2012. An integral ...Reels · January 10 · March 30 · December 9, 2023Albie Morkel
Alex Carey
Alex Hales
Alzarri Joseph
Amaan Khan
Ambati Rayudu
Amit Mishra
Amit Paunikar
Andre Russell
Andrew Tye
Aneeshwar Gautam
Angelo Mathews
Aniket Choudhary
Aniruddha Joshi
Ankit Bawne
Ankit Sharma
Ankit Sharma
Ankit Rajpoot
Ankush Bains
Anmolpreet Singh
Anrich Nortje
Ansh Patel
Anuj Rawat
Anukul Roy
Anunay Singh
Anureet Singh
Apoorv Wankhade
Arjun Tendulkar
Armaan Jaffer
Arshdeep Singh
Aryaman Birla
Aryan Juyal
Asela Gunaratne
Ashish Nehra
Ashish Reddy
Ashok Dinda
Ashok Sharma
Ashton Turner
Ashwin Hebbar
KM Asif
Atharva Taide
Avesh Khan
Axar Patel
Ayush Badoni
Sai Sudharsan
Baba Aparajith
Baba Indrajith
Baltej Singh
Bandaru Ayyappa
Barinder Sran
Barinder Sran
Basil Thampi
Ben Cutting
Ben Dunk
Ben Dwarshuis
Ben Hilfenhaus
Ben Laughlin
Ben Stokes
Benny Howell
Beuran Hendricks
AllNewsImagesShopping Maps Videos Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimBhanuka Rajapaksa - Cricket Player Sri Lanka - ESPNcricinfowww.espncricinfo.com › cricketers › bhanuka-rajapaksa-342619An attacking left-handed batsman, Bhanuka Rajapaksa was selected for the 2010 Under-19 World Cup in New Zealand as one of the team's key batsmen.Matches · Stats · News · VideosPeople also askWhat happened to Bhanuka Rajapaksa?Is Bhanuka Rajapaksa in IPL 2024?Is Bhanuka Rajapaksa good?Who is the Sri Lanka player in Punjab?Bhanuka RajapaksaSri Lankan cricketerView allPramod Bhanuka Bandara Rajapaksa, popularly known as Bhanuka Rajapaksa, is a professional Sri Lankan cricketer, who plays limited over internationals for the national team. He is a left-handed batsman who bowls right-arm medium. He was born in... WikipediaBorn: 24 October 1991 (age 33 years), Colombo, Sri LankaDates joined: February 2022 (Punjab Kings), 2020 (Galle Titans, Khulna Tigers), 5 October 2019 (Sri Lanka national cricket team) and moreEducation: Royal CollegeBatting: Left-handedBowling: Right-arm mediumLast ODI: 4 September 2021 v South AfricaLast T20I: 17 October 2024 v West IndiesShow moreShow lessBhanuka Rajapaksa - Wikipediaen.wikipedia.org › wiki › Bhanuka_RajapaksaBhanuka Rajapaksa is a professional Sri Lankan cricketer, who plays limited over internationals for the national team.Bhanuka Rajapaksa
Bhuvneshwar Kumar
Billy Stanlake
Bipul Sharma
Brad Hodge
Brad Hogg
Brendan Taylor
Brendon McCullum
Hari Nishaanth
Hari Nishaanth
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimChidhambaram Gautam - Cricket Player India - ESPNcricinfowww.espncricinfo.com › cricketers › chidhambaram-gautam-302208Full Name. Chidhambaram Muralidharen Gautam ; Born. March 08, 1986, Bangalore, Karnataka ; Age. 38y 225d ; Batting Style. Right hand Bat ; Fielding Position.C. M. Gautam - Wikipediaen.wikipedia.org › wiki › C._M._GautamChidhambaram Muralidharen Gautam (born 8 March 1986) is an India domestic cricketer. He played for Karnataka cricket team before moving to Goa.C. M. GautamCricketerChidhambaram Muralidharen Gautam is an India domestic cricketer. He played for Karnataka cricket team before moving to Goa. WikipediaBorn: 8 March 1986 (age 38 years), BengaluruCurrent team: Sebastianites Cricket and Athletic Club (Wicket-keeper)Role: Wicket-keeperGautam Cm (@imcmg5) • Instagram photos and videoswww.instagram.com › imcmg5Professional cricketer india A @mumbaiindians @officialdaredevils @ranjikarnataka @kplksca @iplt20 · 99 posts · 2,762 followers · 197 following ...ImagesView allView allThe hunger to play cricket never went away: C.M. Gautam - The Hinduwww.thehindu.com › Sport › Cricket21 Aug 2023 · C.M. Gautam, 37, is back to First Class cricket after 3 yrs, having been chargesheeted in connection to corruption allegations in the 2019 ...CM Gautam
Cameron Delport
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimCarlos Brathwaite - Cricket Player West Indies - ESPNcricinfowww.espncricinfo.com › cricketers › carlos-brathwaite-457249Carlos Brathwaite wrote himself into West Indies history books by hitting four successive sixes to finish off England in the last over of the 2016 World T20 ...Matches · Stats · Records · PhotosCarlos Brathwaite - Wikipediaen.wikipedia.org › wiki › Carlos_BrathwaiteCarlos Ricardo Brathwaite (born 18 July 1988) is a cricketer from Barbados and a former captain of the West Indies Twenty20 International (T20I) team.Carlos BrathwaiteCricketerCarlos Ricardo Brathwaite is a cricketer from Barbados and a former captain of the West Indies Twenty20 International team. WikipediaBorn: 18 July 1988 (age 36 years), Christ Church, BarbadosDates joined: 2019 (Lahore Qalandars), December 2018 (Kolkata Knight Riders), 2018 (Kent Cricket, Combined Campuses and Colleges cricket team, ...) and moreHeight: 1.93 mParents: Chesterfield Brathwaite and Joycelyn Brathwaite2010/11–present: BarbadosBatting: Right-handedBowling: Right-arm fast-mediumShow moreShow lessPeople also askIs Carlos Brathwaite a batsman?Why is Carlos Brathwaite called Ricky?What did Carlos do in 2016?Carlos Brathwaite
Chaitanya Bishnoi
Chama Milind
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimChamika Karunaratne - Cricket Player Sri Lanka - ESPNcricinfowww.espncricinfo.com › cricketers › chamika-karunaratne-623695Full Name. Chamika Karunaratne ; Born. May 29, 1996, Colombo ; Age. 28y 150d ; Batting Style. Right hand Bat ; Bowling Style. Right arm Medium fast.MatchesStatsChamika Karunaratne
Chetan Sakariya
Cheteshwar Pujara
Chirag Suri
Chris Green
Chris Jordan
Chris Lynn
Chris Woakes
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimChris Barnwell - Cricket Player West Indies - ESPNcricinfowww.espncricinfo.com › cricketers › chris-barnwell-330408Christopher Barnwell is a right-arm fast bowler in the hit-the-deck mould who can also contribute with the bat. In his first season of domestic cricket, ...Christopher Barnwell - Wikipediaen.wikipedia.org › wiki › Christopher_BarnwellChristopher Dion Barnwell (born 6 January 1987) is a West Indian cricketer who plays first-class and List A cricket for Guyana. A Guyana born all-rounder, ...Christopher BarnwellCricketerChristopher Dion Barnwell is a West Indian cricketer who plays first-class and List A cricket for Guyana. A Guyana born all-rounder, Barnwell is better known for his clever bowling, but is also a useful pinch hitter in the limited overs format. WikipediaBorn: 6 January 1987 (age 37 years), St. Cuthbert's MissionDates joined: 2013 (Royal Challengers Bengaluru), 21 April 2011 (West Indies cricket team) and 2008 (Guyana national cricket team)Bowling: Right-arm medium fastLast T20I: 28 July 2013 v PakistanT20I debut (cap 42): 21 April 2011 v PakistanShow moreShow lessChristopher Barnwell
Chris Gayle
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimChris MorrisRadio presenter and actorView allChristopher J. Morris is an English comedian, radio presenter, actor, and filmmaker. Known for his deadpan, dark humour, surrealism, and controversial subject matter, he has been praised by the British Film Institute for his "uncompromising,... WikipediaBorn: 15 June 1962 (age 62 years), Colchester, United KingdomSpouse: Jo UnwinChildren: Charles Peter  Morris and Frederick Rudolf MorrisHeight: 1.93 mParents: Rosemary Morris and Michael MorrisSiblings: Tom Morris and Ben MorrisMovies and showsBrass Eye1997 – 2001Four Lions2010The Day Today1994Jam2000The Day Shall Come2019Nathan Barley2005Show moreShow lessPeople also askWhat skin condition does Chris Morris have?What happened to Chris Morris in cricket?What is Christopher Morris doing now?Why did Chris Morris leave the IT crowd?See results aboutChristopher MorrisActorChristopher Morris - IMDbwww.imdb.com › nameChristopher Morris was born on 5 September 1965 in Bristol, England, UK. He is an actor and writer, known for Four Lions (2010), The Day Today (1994) and ...Christopher Morrischrsmrrs.github.ioI am a tenure-track assistant professor and DFG Emmy Noether fellow at RWTH Aachen University, where I lead the Learning on Graphs (LoG) group.Chris Morris (satirist) - Wikipediaen.wikipedia.org › wiki › Chris_Morris_(satirist)Christopher J. Morris (born 15 June 1962) is an English comedian, radio presenter, actor, and filmmaker. Known for his deadpan, dark humour, surrealism, ...Tom Morris (director) · The Day Shall Come · Paedogeddon · Brass EyeChris Morris (@tipo_morris) • Instagram photos and videoswww.instagram.com › tipo_morris372K Followers, 708 Following, 368 Posts - Chris Morris (@tipo_morris) on Instagram: "I played cricket...welcome to my journey!"Chris Morris - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › chris-morris-439952Morris is a bowling allrounder, who often sends the speedgun beyond 140kph and bats fearlessly in the lower-order. He is also a handy slip-fielder.Matches · Photos · Records · StatsChristopher Morris | Actor - IMDbwww.imdb.com › nameChristopher Morris. Actor: The Marine. Christopher Morris is known for The Marine (2006), Crownies (2011) and Salem's Lot (2004).Christopher Morris (@christopher_vii) • Instagram photos and videoswww.instagram.com › christopher_viiChristopher Morris. Co-founder VII agency 30 year Contract Photographer Time Magazine 1990 ~ 2020. Formerly with BlackStar 1981 ~ 2001 morris@viiphoto.com.‪Christopher Morris‬ - ‪Google Scholar‬scholar.google.de › citationsRWTH Aachen University - ‪‪7.041-mal zitiert‬‬ - ‪Machine learning on graphs‬ - ‪graph neural networks‬ - ‪machine learning for combinatorial optimization‬ ...Christopher Morris - The VII Foundationtheviifoundation.org ›
Clint McKay
AllNewsImagesVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimColin de Grandhomme - Cricket Player New Zealand - ESPNcricinfowww.espncricinfo.com › cricketers › colin-de-grandhomme-55395A bruising, broad-shouldered batsman, and a disciplined medium-pace bowler, Colin de Grandhomme left Zimbabwe for Auckland in 2006, before eventually ...Matches · Stats · News · RecordsPeople also askWhere is Colin de Grandhomme from?How fast does Colin de Grandhomme bowl?Colin de Grandhomme
AllNewsImagesBooks Maps Videos Shopping Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimColin Ingram - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › colin-ingram-45705Colin Ingram, a blond, bestubbled, bruising left-hander, is among the crispest hitters produced by South Africa's Eastern Cape.Stats · Matches · News · RecordsColin Ingram - Wikipediaen.wikipedia.org › wiki › Colin_IngramColin Alexander Ingram (born 3 July 1985) is a South African cricketer who currently plays for Glamorgan. He represented South Africa in One Day (ODI) and ...Colin IngramSouth African cricketerColin Alexander Ingram is a South African cricketer who currently plays for Glamorgan. He represented South Africa in One Day and Twenty20 Internationals between 2010 and 2013, scoring a century on his ODI debut against Zimbabwe. WikipediaBorn: 3 July 1985 (age 39 years), Gqeberha, South AfricaCurrent teams: Glamorgan County Cricket Club (Batter), Pretoria Capitals (Batter), Northern Superchargers (Batter) and moreDates joined: December 2018 (Delhi Capitals), 2017 (Adelaide Strikers), 2015 (Glamorgan County Cricket Club) and moreSpouse: Megan Olivier (m. 2010)Height: 1.75 mBatting: Left-handedLast ODI: 1 November 2013 v PakistanShow moreShow lessPeople also askWhat happened to Colin Ingram?Who is the former England cricketer Colin?Colin Ingram
Colin Munro
Corey Anderson
Dale Steyn
Dan Christian
Dan Christian
Daniel Sams
D'Arcy Short
Darren Bravo
Daren Sammy
Darshan Nalkande
Daryl Mitchell
David Miller
David Warner
David Wiese
David Willey
Dawid Malan
Debabrata Das
Deepak Chahar
Deepak Hooda
Deepak Punia
Devdutt Padikkal
Devon Conway
Dewald Brevis
Dhawal Kulkarni
Dhruv Jurel
Dhruv Shorey
Digvijay Deshmukh
Dinesh Karthik
Dinesh Salunkhe
Dirk Nannes
Dishant Yagnik
Dominic Drakes
Domnic Muthuswami
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimDid you mean: Dushmantha ChameeraDushmantha Chameera - Cricket Player Sri Lanka - ESPNcricinfowww.espncricinfo.com › cricketers › dushmantha-chameera-552152Full Name. Pathira Vasan Dushmantha Chameera ; Born. January 11, 1992, Ragama ; Age. 32y 289d ; Batting Style. Right hand Bat ; Bowling Style. Right arm Fast.Records · Matches · News · Dushmantha ChameeraDushmantha Chameera
AllImagesNewsShopping Maps Videos Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimDushmantha Chameera - Cricket Player Sri Lanka - ESPNcricinfowww.espncricinfo.com › cricketers › dushmantha-chameera-552152Tall, slim and slippery, Dushmantha Chameera arrived at NCC in 2012, and was quickly marked out as a bowler for the future. First among his virtues is pace, ...Records · Matches · News · Dushmantha ChameeraDushmantha Chameera
AllImagesNewsVideos Maps Shopping Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimDwaine Pretorius - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › dwaine-pretorius-327830A late-blooming allrounder who swapped pace for precision because of knee injuries, Dwaine Pretorius offered awayswingers and lower-order runs to South ...Matches · Records · Stats · PhotosDwaine PretoriusSouth African cricketerView allDwaine Pretorius is a former South African international cricketer who currently plays in various T20 leagues around the globe and for North West in domestic cricket as a bowling all-rounder. He announced his retirement from international cricket... WikipediaBorn: 29 March 1989 (age 35 years), Randfontein, South AfricaCurrent teams: Guyana Amazon Warriors (Cricket Bowler), Durban's Super Giants (Cricket Bowler), Galle Titans (Cricket Bowler) and moreDates joined: February 2022 (Chennai Super Kings), 2022 (Welsh Fire), September 2019 (Paarl Rocks) and moreBowling: Right-arm medium-fast2010/11–present: North West2022-present: Chennai Super Kings2023-present: Guyana Amazon WarriorsShow moreShow lessPeople also askIs Dwaine Pretorius a good bowler?Why is Dwayne Pretorius not playing in IPL?Dwaine Pretorius
Dwayne Bravo
AllNewsImagesShopping Maps Videos Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimDwayne Smith - Cricket Player West Indies - ESPNcricinfowww.espncricinfo.com › cricketers › dwayne-smith-53118Tall, aggressive, and powerful, Dwayne Smith shares his name with, among others, the wide receiver for the Wisconsin Badgers, and the winner of the 2002 ...Stats · Records · Matches · PhotosDwayne SmithBarbadian cricketerDwayne Romel Smith is a former Barbadian international cricketer who has represented the West Indies in all three formats of the game. An all-rounder, he is known as an aggressive and powerful right-handed batsman, bowls medium pace, and is also... WikipediaBorn: 12 April 1983 (age 41 years), Saint Michael, BarbadosSpouse: Alyssa WebsterHeight: 1.85 mChildren: Niyesha SmithPeople also askWho was the West Indies player played for CSK?Has Steve Smith retired from cricket?What is the captaincy record of Smith?Does Steve Smith have a sister?Dwayne Smith
Eklavya Dwivedi
Eoin Morgan
Evin Lewis
Fabian Allen
Faf du Plessis
AllNewsImagesShopping Maps Videos Books Search tools    Any timeAny timePast hourPast 24 hoursPast weekPast monthPast yearAll resultsAll resultsVerbatimFarhaan Behardien - Cricket Player South Africa - ESPNcricinfowww.espncricinfo.com › cricketers › farhaan-behardien-44410An underrated allrounder at international level, Farhaan Behardien is a decorated domestic cricketer who made his name as a flashy middle-order batsman and ...Matches · News · Stats · PhotosFarhaan Behardien - Wikipediaen.wikipedia.org › wiki › Farhaan_BehardienFarhaan Behardien (born 9 October 1983) is a South African former international cricketer who played ODIs and T20Is. On 10 January 2017, Behardien was ...Farhaan BehardienSouth African cricketerFarhaan Behardien is a South African former international cricketer who played ODIs and T20Is. On 10 January 2017, Behardien was appointed as the T20I captain for the Sri Lanka tour. WikipediaBorn: 9 October 1983 (age 41 years), Johannesburg, South AfricaCurrent team: Boland (Batter)Dates joined: 2018 (Cape Town Blitz), 2016 (Leicestershire County Cricket Club, Punjab Kings), 30 March 2012 (South Africa national cricket team) and moreLast ODI: 16 February 2018 v IndiaNational side: South Africa (2012 - 2018)Nickname: FudgieODI debut (cap 107): 22 January 2013 v New ZealandShow moreShow lessFarhaan Behardien
Fazalhaq Farooqi
Fidel Edwards
Finn Allen
Gautam Gambhir
George Bailey
Glenn Maxwell
Glenn Phillips
Gurinder Sandhu
Gurkeerat Singh Mann
Sridharan Sharath
Hanuma Vihari
Harbhajan Singh
Hardik Pandya

In [86]:
latest_records.replace({'Player':name_map}, inplace=True)

In [87]:
latest_records.to_csv('latest_records.csv')

In [89]:
latest_records = pd.read_csv('latest_records.csv', index_col=0)
latest_records

               Player         Role     Amount Player Origin
4         Aaron Finch      Batsman   44000000      Overseas
5         Abdul Samad  All-Rounder    2000000        Indian
6      Abhijeet Tomar      Batsman    4000000        Indian
8    Abhimanyu Mithun       Bowler    3000000        Indian
9     Abhinav Manohar      Batsman   26000000        Indian
..                ...          ...        ...           ...
964  Yuzvendra Chahal       Bowler   65000000        Indian
966  Yuzvendra Chahal       Bowler   60000000        Indian
968       Zaheer Khan       Bowler   40000000        Indian
969        Zahir Khan       Bowler    6000000        Indian
970       Virat Kohli      Batsman  150000000        Indian

[543 rows x 4 columns]

In [86]:
players = pd.read_csv('player_performance_index.csv', index_col=0)
players.columns = ['Player', 'average_batting_performance_index',
       'average_bowling_performance_index']

In [88]:
players

,Player,average_batting_performance_index,average_bowling_performance_index
0,A Ashish Reddy,0.194312,6.405304
1,A Badoni,0.322596,30.832597
2,A Chandila,0.000000,9.879696
3,A Chopra,0.116028,0.000000
4,A Choudhary,0.144900,13.102461
...,...,...,...
675,Yash Thakur,0.000000,4.654120
676,Yashpal Singh,0.173776,0.000000
677,Yudhvir Singh,0.000000,16.099232
678,Yuvraj Singh,0.563578,3.284710
679,Z Khan,0.071243,2.609384

In [91]:
latest_records.drop(columns=['Team', 'Year', 'Team'], inplace=True)

KeyError: "['Team', 'Year'] not found in axis"

In [92]:
latest_records

               Player         Role     Amount Player Origin
4         Aaron Finch      Batsman   44000000      Overseas
5         Abdul Samad  All-Rounder    2000000        Indian
6      Abhijeet Tomar      Batsman    4000000        Indian
8    Abhimanyu Mithun       Bowler    3000000        Indian
9     Abhinav Manohar      Batsman   26000000        Indian
..                ...          ...        ...           ...
964  Yuzvendra Chahal       Bowler   65000000        Indian
966  Yuzvendra Chahal       Bowler   60000000        Indian
968       Zaheer Khan       Bowler   40000000        Indian
969        Zahir Khan       Bowler    6000000        Indian
970       Virat Kohli      Batsman  150000000        Indian

[543 rows x 4 columns]

In [93]:
latest_records['Player'] = latest_records['Player'].drop_duplicates(keep='last')    #Duplicates exist because the same player has a different auction prices across different years
                                                                                        #So, we make sure to keep only the last (latest) auction price of every player

In [94]:
final_df = pd.merge(players, latest_records, on='Player', how='left')       
#We are using left merge since we want to preserve all the players from the 'players' dataset, but only enrich them with additional data from the 'latest records' dataset

In [95]:
final_df.isna().sum()

Player                                 0
average_batting_performance_index      0
average_bowling_performance_index      0
Role                                 613
Amount                               613
Player Origin                        613
dtype: int64

In [98]:
final_df

,Player,average_batting_performance_index,average_bowling_performance_index,Role,Amount,Player Origin
0,A Ashish Reddy,0.194312,6.405304,NaN,NaN,NaN
1,A Badoni,0.322596,30.832597,NaN,NaN,NaN
2,A Chandila,0.000000,9.879696,NaN,NaN,NaN
3,A Chopra,0.116028,0.000000,NaN,NaN,NaN
4,A Choudhary,0.144900,13.102461,NaN,NaN,NaN
...,...,...,...,...,...,...
675,Yash Thakur,0.000000,4.654120,NaN,NaN,NaN
676,Yashpal Singh,0.173776,0.000000,NaN,NaN,NaN
677,Yudhvir Singh,0.000000,16.099232,All-Rounder,2000000.0,Indian
678,Yuvraj Singh,0.563578,3.284710,All-Rounder,10000000.0,Indian
679,Z Khan,0.071243,2.609384,NaN,NaN,NaN

In [99]:
final_df[final_df['Player'] == 'Virat Kohli']

Empty DataFrame
Columns: [Player, average_batting_performance_index, average_bowling_performance_index, Role, Amount, Player Origin]
Index: []

In [97]:
final_df['Player'].is_unique

True

In [100]:
len(final_df['Player'].unique())

680

In [101]:
final_df.dropna(inplace=True)

In [102]:
final_df.reset_index(inplace=True)

In [103]:
final_df.drop(columns=['index'], inplace=True)

In [104]:
final_df

,Player,average_batting_performance_index,average_bowling_performance_index,Role,Amount,Player Origin
0,Abdul Samad,0.315572,51.905589,All-Rounder,2000000.0,Indian
1,Abhishek Sharma,0.491760,5.288493,All-Rounder,65000000.0,Indian
2,Akash Deep,0.000000,3.260651,Bowler,2000000.0,Indian
3,Akash Singh,0.000000,5.655292,Bowler,2000000.0,Indian
4,Ankit Sharma,0.143833,2.250009,All-Rounder,2000000.0,Indian
...,...,...,...,...,...,...
62,Vishnu Vinod,0.123803,0.000000,Wicket Keeper,5000000.0,Indian
63,Washington Sundar,0.277149,2.824106,All-Rounder,87500000.0,Indian
64,Yash Dayal,0.000000,3.965339,Bowler,32000000.0,Indian
65,Yudhvir Singh,0.000000,16.099232,All-Rounder,2000000.0,Indian
66,Yuvraj Singh,0.563578,3.284710,All-Rounder,10000000.0,Indian

In [105]:
final_df.to_csv('final.csv')