In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/home/dyuthi/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/dyuthi/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
deliveries_df = pd.read_csv('deliveries.csv')

In [5]:
deliveries_df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [6]:
deliveries_df.isna().sum()

# this is fine, we aren't using those columns

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs               0
extras_type         246795
is_wicket                0
player_dismissed    247970
dismissal_kind      247970
fielder             251566
dtype: int64

## Drop batsmen who have not played much

In [7]:
batter_freq = deliveries_df.batter.value_counts().reset_index()

In [8]:
batsmen_to_drop = batter_freq[batter_freq['count'] < 18]
# they have batted against less than 18 balls in their whole career

In [9]:
batsmen_to_drop

                   batter  count
505       JJ van der Wath     17
506  X Thalaivan Sargunam     17
507              VG Arora     17
508       SMSM Senanayake     17
509       Karanveer Singh     17
..                    ...    ...
668        V Pratap Singh      1
669           Sunny Gupta      1
670            YA Abdulla      1
671             SZ Mulani      1
672             S Kaushik      1

[168 rows x 2 columns]

In [10]:
list_of_batsmen_to_drop = batsmen_to_drop.batter.to_list()
list_of_batsmen_to_drop

['JJ van der Wath',
 'X Thalaivan Sargunam',
 'VG Arora',
 'SMSM Senanayake',
 'Karanveer Singh',
 'R Bishnoi',
 'AU Rashid',
 'Saurav Chauhan',
 'Yudhvir Singh',
 'T Henderson',
 'Kartik Tyagi',
 'Umran Malik',
 'SB Joshi',
 'GR Napier',
 'TU Deshpande',
 'Mujeeb Ur Rahman',
 'CJ McKay',
 'JE Root',
 'UA Birla',
 'Gulbadin Naib',
 'ER Dwivedi',
 'TS Mills',
 'RA Bawa',
 'BB Sran',
 'SM Harwood',
 'P Awana',
 'AG Murtaza',
 'B Laughlin',
 'D du Preez',
 'MDKJ Perera',
 'Fazalhaq Farooqi',
 'Vijaykumar Vyshak',
 'F Behardien',
 'P Sahu',
 'DP Nannes',
 'SD Lad',
 'K Kartikeya',
 'J Theron',
 'DT Patil',
 'ND Doshi',
 'JL Pattinson',
 'Pankaj Singh',
 'AR Bawne',
 'DG Nalkande',
 'Harmeet Singh',
 'AA Noffke',
 'Akash Deep',
 'Mohammad Ashraful',
 'PSP Handscomb',
 'TM Srivastava',
 'BJ Haddin',
 'Jaskaran Singh',
 'AA Chavan',
 'I Udana',
 'D Ferreira',
 'AJ Hosein',
 'A Singh',
 'S Ladda',
 'MA Wood',
 'CK Langeveldt',
 'KAJ Roach',
 'DAJ Bracewell',
 'JP Behrendorff',
 'Ankit Soni',
 'K Upadhyay',
 'DNT Zoysa',
 'Arjun Tendulkar',
 'Simarjeet Singh',
 'A Tomar',
 'Shoaib Akhtar',
 'D Kalyankrishna',
 'AA Kulkarni',
 'AN Ghosh',
 'RS Gavaskar',
 'KJ Abbott',
 'Younis Khan',
 'SS Shaikh',
 'A Chandila',
 'Kumar Kushagra',
 'VS Malik',
 'M Theekshana',
 'SH Johnson',
 'A Uniyal',
 'GC Viljoen',
 'KK Ahmed',
 'BA Bhatt',
 'Mukesh Choudhary',
 'R Sai Kishore',
 'BAW Mendis',
 'P Chopra',
 'R Ninan',
 'JPR Scantlebury-Searles',
 'RJW Topley',
 'Mohammad Asif',
 'Shoaib Ahmed',
 'Akash Madhwal',
 'BR Sharath',
 'OC McCoy',
 'FH Edwards',
 'V Viyaskanth',
 'T Natarajan',
 'DM Bravo',
 'A Dananjaya',
 'Kamran Khan',
 'HF Gurney',
 'H Das',
 'SJ Srivastava',
 'GD McGrath',
 'K Yadav',
 'I Malhotra',
 'Arshad Khan (2)',
 'S Randiv',
 'KP Appanna',
 'JE Taylor',
 'Liton Das',
 'GHS Garton',
 'T Shamsi',
 'S Tyagi',
 'RP Meredith',
 'VRV Singh',
 'Harshit Rana',
 'DJ Muthuswami',
 'SB Wagh',
 'Shivam Sharma',
 'KMDN Kulasekara',
 'Shivam Singh',
 'LE Plunkett',
 'KR Sen',
 'BE Hendricks',
 'CRD Fernando',
 'P Parameswaran',
 'L Wood',
 'KA Maharaj',
 'LB Williams',
 'RR Bhatkal',
 'MJ Suthar',
 'RJ Gleeson',
 'RS Sodhi',
 'L Ablish',
 'IC Pandey',
 'A Kamboj',
 'R Sanjay Yadav',
 'M de Lange',
 'RG More',
 'SE Bond',
 'PM Sarvesh Kumar',
 'SS Cottrell',
 'Mashrafe Mortaza',
 'Mohit Rathee',
 'B Stanlake',
 'KM Asif',
 'Abdur Razzak',
 'VS Yeligati',
 'Y Prithvi Raj',
 'Yash Dayal',
 'U Kaul',
 'DP Vijaykumar',
 'S Lamichhane',
 'Abdul Basith',
 'JL Denly',
 'Mayank Dagar',
 'C Nanda',
 'NJ Rimmington',
 'V Pratap Singh',
 'Sunny Gupta',
 'YA Abdulla',
 'SZ Mulani',
 'S Kaushik']

In [11]:
deliveries_df = deliveries_df[~deliveries_df['batter'].isin(list_of_batsmen_to_drop)]

In [12]:
deliveries_df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

## Drop bowlers who have not played much

In [13]:
bowler_freq = deliveries_df.bowler.value_counts().reset_index()

In [14]:
list_of_bowlers_to_drop = bowler_freq[bowler_freq['count'] < 18].bowler.to_list()
list_of_bowlers_to_drop

['CJ Green',
 'CK Kapugedera',
 'Monu Kumar',
 'S Rana',
 'R Sanjay Yadav',
 'Abdur Razzak',
 'LRPL Taylor',
 'AA Kazi',
 'Arshad Khan (2)',
 'S Vidyut',
 'S Midhun',
 'MJ Suthar',
 'FY Fazal',
 'M Shahrukh Khan',
 'Mandeep Singh',
 'JE Root',
 'RR Bhatkal',
 'Mohit Rathee',
 'N Wadhera',
 'R Ravindra',
 'RR Bose',
 'C Munro',
 'Sachin Baby',
 'NA Saini',
 'LA Carseldine',
 'BJ Rohrer',
 'SS Mundhe',
 'Gulbadin Naib',
 'LPC Silva',
 'SS Iyer',
 'Aman Hakim Khan',
 'AM Rahane',
 'RA Shaikh',
 'RS Gavaskar',
 'C Ganapathy',
 'I Malhotra',
 'B Chipli',
 'P Prasanth',
 'Y Gnaneswara Rao',
 'F du Plessis',
 'SA Yadav',
 'RA Tripathi',
 'D Brevis',
 'SPD Smith',
 'SN Khan',
 'DA Warner',
 'AC Gilchrist',
 'YBK Jaiswal',
 'Atharva Taide']

In [15]:
deliveries_df = deliveries_df[~deliveries_df['bowler'].isin(list_of_bowlers_to_drop)]
deliveries_df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

## Career Bowling average

In [20]:
bowling = deliveries_df.groupby(by=['bowler']).agg({'total_runs':'sum', 'is_wicket':'sum'}).reset_index()

In [21]:
bowling['career_bowling_average'] = bowling['total_runs']/bowling['is_wicket']

In [22]:
bowling['career_bowling_average']= bowling['career_bowling_average'].replace(np.inf, -np.inf)
bowling['career_bowling_average']= bowling['career_bowling_average'].replace(-np.inf, bowling['career_bowling_average'].max())

In [23]:
bowling

             bowler  total_runs  is_wicket  career_bowling_average
0    A Ashish Reddy         399         19               21.000000
1          A Badoni          37          2               18.500000
2        A Chandila         245         11               22.272727
3       A Choudhary         144          5               28.800000
4       A Dananjaya          47          0              137.000000
..              ...         ...        ...                     ...
476      Yash Dayal         932         31               30.064516
477     Yash Thakur         700         27               25.925926
478   Yudhvir Singh         125          4               31.250000
479    Yuvraj Singh        1091         39               27.974359
480          Z Khan        2843        117               24.299145

[481 rows x 4 columns]

In [24]:
bowling[bowling['career_bowling_average'] == bowling['career_bowling_average'].min()]

       bowler  total_runs  is_wicket  career_bowling_average
434  T Stubbs          29          4                    7.25

In [16]:
bowling['career_bowling_average'].describe()

count    530.000000
mean      48.090314
std       39.501268
min        0.000000
25%       24.616667
50%       30.908730
75%       48.458333
max      137.000000
Name: career_bowling_average, dtype: float64

## Career Batting average

In [26]:
batting = deliveries_df.groupby(by=['batter']).agg({'total_runs':'sum', 'is_wicket':'sum'}).reset_index()
batting['career_batting_average'] = batting['total_runs']/batting['is_wicket']

In [28]:
batting['career_batting_average'].describe()

/home/dyuthi/anaconda3/lib/python3.9/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

count    505.000000
mean            inf
std             NaN
min        2.200000
25%       12.000000
50%       19.785714
75%       26.867470
max             inf
Name: career_batting_average, dtype: float64

In [29]:
batting['career_batting_average']= batting['career_batting_average'].replace(np.inf, -np.inf)
batting['career_batting_average']= batting['career_batting_average'].replace(-np.inf, batting['career_batting_average'].max())

In [30]:
batting['career_batting_average'].describe()

count    505.000000
mean      20.631472
std       11.539122
min        2.200000
25%       12.000000
50%       19.785714
75%       26.867470
max       97.000000
Name: career_batting_average, dtype: float64

## Performance index for batsmen

In [31]:
df = deliveries_df.groupby(by=['batter', 'bowler']).agg({'total_runs':'sum', 'is_wicket':'sum'}).reset_index()

In [32]:
df.dropna(inplace=True)

In [33]:
df

               batter           bowler  total_runs  is_wicket
0      A Ashish Reddy          A Nehra           8          1
1      A Ashish Reddy         AB Dinda           9          0
2      A Ashish Reddy       AD Mathews          25          0
3      A Ashish Reddy       AD Russell           4          1
4      A Ashish Reddy    Anureet Singh           2          0
...               ...              ...         ...        ...
27232          Z Khan        SR Watson           4          0
27233          Z Khan  Shakib Al Hasan           3          0
27234          Z Khan    Sohail Tanvir           3          0
27235          Z Khan        VRV Singh           1          0
27236          Z Khan        YK Pathan           1          0

[27237 rows x 4 columns]

In [34]:
df.is_wicket.value_counts()

is_wicket
0    17328
1     7881
2     1471
3      376
4      129
5       29
6       13
7        9
9        1
Name: count, dtype: int64

In [35]:
df['batting_average'] = df['total_runs']/df['is_wicket']

In [36]:
df['batting_average']

0        8.0
1        inf
2        inf
3        4.0
4        inf
        ...
27232    inf
27233    inf
27234    inf
27235    inf
27236    inf
Name: batting_average, Length: 27237, dtype: float64

In [37]:
temp_df = df[~np.isinf(df['batting_average'])]

In [38]:
best_per_batsman = temp_df.groupby(by=['batter']).agg({'batting_average':'mean'})

In [39]:
best_per_batsman

                batting_average
batter
A Ashish Reddy         4.892857
A Badoni               8.901515
A Chopra               3.200000
A Choudhary            4.000000
A Flintoff             3.000000
...                         ...
YV Dhull               3.333333
YV Takawale            3.625000
Yashpal Singh          4.750000
Yuvraj Singh          15.693452
Z Khan                 1.769231

[505 rows x 1 columns]

In [40]:
mapping = best_per_batsman['batting_average'].to_dict()

In [41]:
df['batting_average'] = np.where(
    df['batting_average'] == np.inf,
    df['batter'].map(mapping),
    df['batting_average']
)

In [42]:
df.head(5)

           batter         bowler  total_runs  is_wicket  batting_average
0  A Ashish Reddy        A Nehra           8          1         8.000000
1  A Ashish Reddy       AB Dinda           9          0         4.892857
2  A Ashish Reddy     AD Mathews          25          0         4.892857
3  A Ashish Reddy     AD Russell           4          1         4.000000
4  A Ashish Reddy  Anureet Singh           2          0         4.892857

In [43]:
df.dropna(inplace=True)

In [44]:
df

               batter           bowler  total_runs  is_wicket  batting_average
0      A Ashish Reddy          A Nehra           8          1         8.000000
1      A Ashish Reddy         AB Dinda           9          0         4.892857
2      A Ashish Reddy       AD Mathews          25          0         4.892857
3      A Ashish Reddy       AD Russell           4          1         4.000000
4      A Ashish Reddy    Anureet Singh           2          0         4.892857
...               ...              ...         ...        ...              ...
27232          Z Khan        SR Watson           4          0         1.769231
27233          Z Khan  Shakib Al Hasan           3          0         1.769231
27234          Z Khan    Sohail Tanvir           3          0         1.769231
27235          Z Khan        VRV Singh           1          0         1.769231
27236          Z Khan        YK Pathan           1          0         1.769231

[26772 rows x 5 columns]

In [59]:
mapping = dict(zip(bowling['bowler'], bowling['career_bowling_average']))
df['career_bowling_average'] = df['bowler'].map(mapping)

In [63]:
df.head(5)

,batter,bowler,total_runs,is_wicket,batting_average,career_bowling_average
0,A Ashish Reddy,A Nehra,8,1,8.000000,20.917355
1,A Ashish Reddy,AB Dinda,9,0,4.892857,25.901235
2,A Ashish Reddy,AD Mathews,25,0,4.892857,39.035714
3,A Ashish Reddy,AD Russell,4,1,4.000000,21.674797
4,A Ashish Reddy,Anureet Singh,2,0,4.892857,30.285714

In [64]:
df['performance_index_against_bowler'] = df['batting_average']/df['career_bowling_average']
df

,batter,bowler,total_runs,is_wicket,batting_average,career_bowling_average,performance_index_against_bowler
0,A Ashish Reddy,A Nehra,8,1,8.000000,20.917355,0.382458
1,A Ashish Reddy,AB Dinda,9,0,4.892857,25.901235,0.188904
2,A Ashish Reddy,AD Mathews,25,0,4.892857,39.035714,0.125343
3,A Ashish Reddy,AD Russell,4,1,4.000000,21.674797,0.184546
4,A Ashish Reddy,Anureet Singh,2,0,4.892857,30.285714,0.161557
...,...,...,...,...,...,...,...
27232,Z Khan,SR Watson,4,0,1.769231,25.726415,0.068771
27233,Z Khan,Shakib Al Hasan,3,0,1.769231,26.628571,0.066441
27234,Z Khan,Sohail Tanvir,3,0,1.769231,11.458333,0.154406
27235,Z Khan,VRV Singh,1,0,1.769231,38.785714,0.045616
27236,Z Khan,YK Pathan,1,0,1.769231,31.304348,0.056517

In [65]:
avg_pi_batsmen = df.groupby('batter').agg({'performance_index_against_bowler':'mean'}).reset_index()

In [66]:
avg_pi_batsmen['performance_index_against_bowler'].describe()

count    504.000000
mean       0.256862
std        0.211693
min        0.000000
25%        0.103224
50%        0.189994
75%        0.365379
max        1.074131
Name: performance_index_against_bowler, dtype: float64

In [67]:
avg_pi_batsmen[avg_pi_batsmen['batter'] == 'MS Dhoni']

       batter  performance_index_against_bowler
279  MS Dhoni                          0.803922

In [69]:
avg_pi_batsmen[avg_pi_batsmen['performance_index_against_bowler'] == avg_pi_batsmen['performance_index_against_bowler'].max()]

      batter  performance_index_against_bowler
475  V Kohli                          1.074131

In [71]:
avg_pi_batsmen.columns = ['batter', 'average_performance_index']

In [72]:
avg_pi_batsmen

             batter  average_performance_index
0    A Ashish Reddy                   0.194312
1          A Badoni                   0.322596
2          A Chopra                   0.116028
3       A Choudhary                   0.144900
4        A Flintoff                   0.112751
..              ...                        ...
499        YV Dhull                   0.117753
500     YV Takawale                   0.144750
501   Yashpal Singh                   0.173776
502    Yuvraj Singh                   0.563578
503          Z Khan                   0.071243

[504 rows x 2 columns]

In [73]:
avg_pi_batsmen.to_csv('batsmen_performance_index.csv')

In [ ]:
# career bowling average = runs/wickets
# career batting average = runs/dismissed

## Performance Index for Bowlers

In [76]:
df = deliveries_df.groupby(by=['bowler', 'batter']).agg({'total_runs':'sum', 'is_wicket':'sum'}).reset_index()

In [78]:
df.dropna(inplace=True)
df

               bowler           batter  total_runs  is_wicket
0      A Ashish Reddy   AB de Villiers          48          0
1      A Ashish Reddy        AC Thomas          10          0
2      A Ashish Reddy       AD Mathews           3          0
3      A Ashish Reddy       AD Russell           1          0
4      A Ashish Reddy       AL Menaria           9          0
...               ...              ...         ...        ...
27232          Z Khan          WA Mota           1          0
27233          Z Khan          WP Saha          39          0
27234          Z Khan  Y Venugopal Rao           9          0
27235          Z Khan        YK Pathan          35          1
27236          Z Khan     Yuvraj Singh          12          2

[27237 rows x 4 columns]

In [80]:
df['bowling_average'] = df['total_runs']/df['is_wicket']
df

               bowler           batter  total_runs  is_wicket  bowling_average
0      A Ashish Reddy   AB de Villiers          48          0              inf
1      A Ashish Reddy        AC Thomas          10          0              inf
2      A Ashish Reddy       AD Mathews           3          0              inf
3      A Ashish Reddy       AD Russell           1          0              inf
4      A Ashish Reddy       AL Menaria           9          0              inf
...               ...              ...         ...        ...              ...
27232          Z Khan          WA Mota           1          0              inf
27233          Z Khan          WP Saha          39          0              inf
27234          Z Khan  Y Venugopal Rao           9          0              inf
27235          Z Khan        YK Pathan          35          1             35.0
27236          Z Khan     Yuvraj Singh          12          2              6.0

[27237 rows x 5 columns]

In [81]:
temp_df = df[~np.isinf(df['bowling_average'])]

In [82]:
best_per_bowler = temp_df.groupby(by=['bowler']).agg({'bowling_average':'mean'})

In [83]:
best_per_bowler

                bowling_average
bowler
A Ashish Reddy         5.300000
A Badoni               0.000000
A Chandila             3.272727
A Choudhary            2.400000
A Flintoff             1.000000
...                         ...
Yash Dayal            14.071429
Yash Thakur            8.860000
Yudhvir Singh          1.750000
Yuvraj Singh          12.790323
Z Khan                14.346892

[447 rows x 1 columns]

In [ ]:
mapping = dict(zip(best_per_bowler['bowler'], best_per_bowler['bowling_average']))

In [84]:
df['bowling_average'] = np.where(
    df['bowling_average'] == np.inf,
    df['bowler'].map(mapping),
    df['bowling_average']
)

In [85]:
df['bowling_average'].describe()

count    26780.000000
mean        24.880764
std         18.131480
min          0.000000
25%         14.071429
50%         25.013333
75%         31.000000
max        192.000000
Name: bowling_average, dtype: float64

In [87]:
df['bowling_average'].replace(0, 1, inplace=True)

/tmp/ipykernel_359880/842387900.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bowling_average'].replace(0, 1, inplace=True)

In [89]:
mapping = dict(zip(batting['batter'], batting['career_batting_average']))
df['career_batting_average'] = df['batter'].map(mapping)

In [90]:
df

,bowler,batter,total_runs,is_wicket,bowling_average,career_batting_average
0,A Ashish Reddy,AB de Villiers,48,0,21.000000,42.760000
1,A Ashish Reddy,AC Thomas,10,0,21.000000,10.000000
2,A Ashish Reddy,AD Mathews,3,0,21.000000,24.677419
3,A Ashish Reddy,AD Russell,1,0,21.000000,31.488095
4,A Ashish Reddy,AL Menaria,9,0,21.000000,18.590909
...,...,...,...,...,...,...
27232,Z Khan,WA Mota,1,0,24.299145,12.600000
27233,Z Khan,WP Saha,39,0,24.299145,25.595041
27234,Z Khan,Y Venugopal Rao,9,0,24.299145,25.023810
27235,Z Khan,YK Pathan,35,1,35.000000,30.414414
27236,Z Khan,Yuvraj Singh,12,2,6.000000,26.458716

In [92]:
df['performance_index_against_batter'] = df['career_batting_average']/df['bowling_average']

In [93]:
avg_pi_bowler = df.groupby('bowler').agg({'performance_index_against_batter':'mean'}).reset_index()

In [94]:
avg_pi_bowler['performance_index_against_batter'].describe()

count    481.000000
mean       3.218892
std        1.826539
min        0.179527
25%        2.277413
50%        3.068858
75%        3.981568
max       15.033841
Name: performance_index_against_batter, dtype: float64

In [95]:
avg_pi_bowler[avg_pi_bowler['performance_index_against_batter'] == avg_pi_bowler['performance_index_against_batter'].min()]

            bowler  performance_index_against_batter
289  NJ Rimmington                          0.179527

In [96]:
avg_pi_bowler[avg_pi_bowler['performance_index_against_batter'] == avg_pi_bowler['performance_index_against_batter'].max()]

            bowler  performance_index_against_batter
422  Shoaib Akhtar                         15.033841

In [99]:
avg_pi_bowler.sort_values(by='performance_index_against_batter', ascending=False).head(20)

               bowler  performance_index_against_batter
422     Shoaib Akhtar                         15.033841
99         D du Preez                         12.682488
450       V Kaverappa                         12.159936
254      MG Bracewell                         10.247941
268          MP Yadav                          9.368423
407       SS Cottrell                          8.673799
152          IC Porel                          8.629945
272  Mashrafe Mortaza                          8.292991
1            A Badoni                          8.094222
100     DAJ Bracewell                          8.014463
79            C Nanda                          7.621130
434          T Stubbs                          7.332239
109     DJ Muthuswami                          7.248265
448          Umar Gul                          7.034993
88      CK Langeveldt                          6.840551
92       CRD Fernando                          6.753420
284          N Burger                          6.746988
287          NB Singh                          6.620386
212            KR Sen                          6.548845
103       DG Nalkande                          6.543087

In [100]:
avg_pi_bowler.to_csv('bowler_performance_index.csv')